/*
	Buttons
*/
html .big-anouncement .btn-secondary,
html .btn-primary {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .big-anouncement .btn-secondary:hover,
html .btn-primary:hover {
	background: var(--theme-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .big-anouncement .btn-secondary:active,
html .btn-primary:active {
	filter: brightness(0.7);
}


/*
	Checkmarks & radio buttons
*/
html .print-checkbox {
	position: relative;
	cursor: pointer;
	user-select: none;
}
html .analytics-form-page .analytics-form-holder .checkbox label,
html .analytics-form-page .analytics-form-holder .radio label,
html .checkbox label {
	font-family: "Inter", sans-serif;
	color: var(--paragraph-color);
	font-size: 15px;
	line-height: 13px;
	padding-left: 20px;
	cursor: pointer;
}
html label.css-label,
html input[type="checkbox"].css-checkbox:checked ~ label.css-label {
	background: none;
}
html label.css-label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	background: var(--background-front-color);
	left: 0;
	top: 2px;
	border-radius: calc(var(--corner-radius) / 2);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html label.css-label::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 0;
	border-radius: var(--corner-radius);
	background: var(--paragraph-color);
	mask-size: contain;
	-webkit-mask-size: contain;
	transition: .1s opacity;
	opacity: 0;
	cursor: pointer;
}
html input[type="checkbox"].css-checkbox:checked ~ label.css-label::after {
	opacity: 1;
	cursor: pointer;
}
html input[type="checkbox"].css-checkbox {
	display: none;
}


/*
	Loading spinner
*/
html #overlay {
	display: block !important;
	background: #00000080;
	opacity: 1;
	transition: .2s opacity;
	user-select: none;
	-webkit-user-drag: none;
}
html .loading-info {
	display: block !important;
	background: var(--background-front-color);
	color: var(--paragraph-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	border: 0;
	font-weight: 500;
	transform: scale(1) !important;
	opacity: 1;
	border-radius: var(--corner-radius) !important;
	transition: .2s transform, .2s opacity;
	user-select: none;
	-webkit-user-drag: none;
}
html .loading-spinner {
	border: 2px solid var(--paragraph-color);
	border-right-color: #00000000;
}


/*
	Calendar
*/
html .calendar-holder {
	display: none !important;
}
html .calendar {
	position: absolute;
	display: none;
	width: 250px;
	height: 300px;
	border-radius: var(--corner-radius);
	background: var(--background-front-color);
	box-shadow: 0 4px 10px -3px var(--shadow-color);
	overflow: hidden;
	opacity: 0;
	transform: translateY(10px);
	transition: .2s opacity, .2s transform;
}
html .calendar.desktop-top {
	top: 150px;
	left: calc(100vw / 2 - 125px);
}
html .calendar .calendar-level {
	width: 100%;
	height: 100%;
}
html .calendar .calendar-header {
	height: 80px;
}


/*
	Scroll to top
*/
html .scroll-to-top {
	position: relative;
	background: var(--background-middle-color);
	width: 35px;
	height: 35px;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s background, .2s box-shadow;
}
html .scroll-to-top:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	background: var(--background-middle-hover-color);
}
html .scroll-to-top:active {
	background: var(--background-middle-active-color);
}
html .scroll-to-top::after {
	content: "";
	background: var(--paragraph-color);
	display: block;
	width: 19px;
	height: 19px;
	margin: 8px;
	position: absolute;
	top: 0;
	left: 0;
	mask-size: contain;
	-webkit-mask-size: contain;
}


/*
	Navigation tabs
*/
html .nav-tabs {
	padding-left: 1rem;
	border-radius: var(--corner-radius);
	background: var(--background-middle-color);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
	width: 970px;
}
html .nav-tabs li {
	font-weight: 500;
	font-size: 18px;
}
html .nav-tabs li a,
html .nav-tabs li.active a,
html .nav-tabs li.profile-settings a,
html .nav-tabs li.action-history a,
html .nav-tabs li.message-history a,
html .nav-tabs li.ratings a,
html .nav-tabs li.journal a,
html .nav-tabs li.delays a,
html .nav-tabs li.transcript-of-records a {
	background: none;
	color: var(--title-color);
	margin-right: .5rem;
	padding: 1rem .5rem;
	border: 0;
	cursor: pointer;
	transition: .2s opacity;
	font-family: "Inter", sans-serif;
	position: relative;
	overflow: hidden;
}
html .nav-tabs li,
html .nav-tabs li.active,
html .nav-tabs li {
	top: -1px;
}
html .nav-tabs li.active a,
html .nav-tabs li.active a:focus,
html .nav-tabs li.active a:hover {
	background: none;
	color: var(--paragraph-color);
	padding: 1rem .5rem;
	cursor: pointer;
}
html .nav-tabs li a:focus,
html .nav-tabs li a:hover {
	opacity: 0.7;
}
html .nav-tabs li a:hover {
	border: 0;
}
html .nav-tabs li a::after {
	content: "";
	position: absolute;
	display: block;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 6px;
	border-radius: var(--corner-radius) var(--corner-radius) 0 0;
	background: var(--theme-color);
	transition: .2s bottom;
}
html .nav-tabs li a:hover::after,
html .nav-tabs li a:focus::after,
html .nav-tabs li.active a::after {
	bottom: 0;
}


/*
	"Back to journal" button
*/
html .back-to-journal {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 15px;
	vertical-align: middle;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s background, .2s box-shadow;
	user-select: none;
	-webkit-user-drag: none;
}
html .back-to-journal:hover {
	color: var(--paragraph-color);
	background: var(--background-middle-hover-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	cursor: pointer;
}
html .back-to-journal:active {
	background: var(--background-middle-active-color);
}
html .back-to-journal::before {
	content: "";
	background: var(--paragraph-color);
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 3px;
	mask-size: contain;
	-webkit-mask-size: contain;
}


/*
	Dropdown
*/
html .tech-support-container .select2-container--default .select2-selection--single,
html .tech-support-container .select2-container--default .select2-selection--single .select2-selection__rendered	{
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	border: 0 !important;
	border-radius: var(--corner-radius) !important;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s box-shadow, .2s background;
}
html .tech-support-container .select2-container--default .select2-selection--single:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	background: var(--background-middle-hover-color);
}
html .tech-support-container .select2-container--default .select2-selection--single:active {
	background: var(--background-middle-active-color);
}
html .select2-dropdown {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	border: 0;
	border-radius: var(--corner-radius) !important;
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
}
html .select2-dropdown:first-child {
	border-radius: 0 0 var(--corner-radius) var(--corner-radius) !important;
}
html .select2-container--default .select2-results__option,
html .select2-container--default .select2-results__option[aria-selected="true"] {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	font-size: 15px;
	transition: .2s filter;
}
html .select2-container--default .select2-results__option:hover {
	filter: brightness(0.9);
}
html .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	border-radius: var(--corner-radius);
}
html .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border: 0;
	background: var(--low-priority-color);
	height: 16px;
	width: 16px;
	left: 6px;
	top: 8px;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}
html .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: #00000000 #00000000 var(--paragraph-color);
}