html .dashboard-widget,
html .dashboard-widget-col.widget-banner .dashboard-widget,
html .dashboard-widget-col.widget-notifications .dashboard-widget,
html .dashboard-information {
	height: auto;
	min-height: 200px;
	max-height: none;
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	border: 0;
	border-radius: 1rem;
	cursor: auto;
}
html .dashboard-widget-col.widget-notifications .widget-header,
html .dashboard-widget-col.widget-banner .widget-header {
	background: none;

	min-height: 20px;
	line-height: 20px;

	padding: 16px;
	padding-left: 0;

	cursor: auto;
}
html .dashboard-widget .widget-header h3,
html .dashboard-widget-col.widget-banner .widget-header {
	color: var(--title-color);

	font-family: 'Inter', sans-serif;
	font-weight: bold;
	
	font-size: 1.5rem;

	padding-left: 16px;

	cursor: auto;
}
html .dashboard-widget .widget-header::after {
	display: none;
}
html .dashboard-widget-col.widget-notifications .widget-content {
	background: none;

	text-align: center;

	height: 100%;
}
html .dashboard-widget,
html .dashboard-widget-col.widget-banner .dashboard-widget {
	box-shadow: 0 7px 14px -3px var(--shadow-color);
	
	cursor: auto;
}
html .dashboard-widget-col.widget-notifications .widget-notifications-primary {
	border-bottom: 0;
}
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon:hover,
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon:focus {
	color: var(--paragraph-color);
}
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon2,
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon2:hover,
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon4,
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon4:hover {
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	background-color: var(--background-middle-dark-color);
	border-radius: .5rem;
	border: 0;
	margin: 5px;
	transition: .2s filter, .2s box-shadow;
}
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon2:hover,
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon4:hover {
	filter: brightness(0.8);
	box-shadow: 0 7px 14px -3px var(--shadow-color);
}
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon2::before,
html .dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon4::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2.5rem;
	background-size: contain;
	filter: invert() brightness(var(--icon-brightness));
}
html .dashboard-widget-col.widget-notifications .widget-notification .items {
	color: var(--low-priority-text-color);

	font-family: 'Inter', sans-serif;
}
html .dashboard-widget-col.widget-notifications .widget-content .widget-count,
html .dashboard-widget-col.widget-notifications .widget-notification .widget-count {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	border: 0;
}
html .dashboard-widget-col.widget-notifications .widget-content .widget-count {
	width: 30px;
	height: 30px;
}
html .dashboard-widget-col.widget-notifications .widget-notifications-primary.student .notification-icon .widget-count {
	top: 20px;
}
html .dashboard-widget-col.widget-banner .widget-content {
	height: auto;
	min-height: 200px;
}
html .close-dashboard-adv-message {
	margin-top: .25rem;
    margin-right: .25rem;

	opacity: 1;

	transition: .2s filter;
}
html .close-dashboard-adv-message:hover {
	filter: brightness(0.8);
}
html .close-dashboard-adv-message::after,
html .close-dashboard-adv-message::before {
	background: var(--paragraph-color);
}
html .dashboard-widget-col.widget-notifications .widget-notification {
	background: var(--background-middle-dark-color);
	color: var(--paragraph-color);

	font-family: 'Inter', sans-serif;
	text-align: left;

	margin: .5rem;

	border: 0;
	
	border-radius: 1rem;

	transition: .2s box-shadow, .2s filter;
}
html .dashboard-widget-col.widget-notifications .widget-notification:hover {
	background: var(--background-middle-dark-color);

	box-shadow: 0 7px 14px -3px var(--shadow-color);

	filter: brightness(0.8);
}
html .dashboard-widget-col.widget-notifications .widget-close {
	display: none !important; /* There is literally no point for this thing */
}
html .dashboard-news {
	background: var(--background-back-color);
}
html .dashboard-news h2 {
	font-weight: bold;
	font-size: 2rem;
	color: var(--title-color);
}
html .dashboard-news .dashboard-news-item h3 {
	color: var(--title-color);
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
}
html .dashboard-news .dashboard-news-item .article-content {
	color: var(--paragraph-color);
}
html .dashboard-news .dashboard-news-item .article-content a.file::before,
html .actual-lessons .lesson-subitem .description a.file::before,
html .student-journal-lessons .lesson-subitem .description a.file::before {
	background: var(--theme-color);
	width: 13px;
	height: 13px;
	mask-size: cover;
	-webkit-mask-size: cover;
}
html .dashboard-news .dashboard-news-item .article-meta .date {
	color: var(--low-priority-text-color);
}
html .dashboard-news .dashboard-news-item {
	border-bottom: 4px solid var(--divider-color);
}
html .dashboard-news .dashboard-news-item .article-content img {
	border-radius: .5rem;
}
html .dashboard-news .dashboard-news-item .tag.green,
html .dashboard-news .dashboard-news-item .tag.gold,
html .dashboard-news .dashboard-news-item .tag.blue {
	border-radius: .5rem;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}
html .dashboard-news .dashboard-news-item .tag.green {
	color: #ffffff;
	background: #1ec039;
}
html .dashboard-news .dashboard-news-item .tag.gold {
	color: #ffffff;
	background: #e9b610;
}
html .dashboard-news .dashboard-news-item .tag.blue {
	color: var(--theme-accent-color);
	background: var(--theme-color);
}
html .dashboard-widget-col.widget-recent .scores,
html .dashboard-widget-col.widget-recent .messages,
html .dashboard-widget-col.widget-recent .scores:hover,
html .dashboard-widget-col.widget-recent .messages:hover {
	background: var(--background-middle-dark-color);
	border-radius: 1rem 1rem 0 0;
	transition: .2s filter;
}
html .dashboard-widget-col.widget-recent .scores:hover,
html .dashboard-widget-col.widget-recent .messages:hover {
	filter: brightness(0.8);
}
html .dashboard-widget-col.widget-recent .active,
html .dashboard-widget-col.widget-recent .active:hover {
	background: var(--background-middle-color);
}
html .dashboard-widget-col.widget-recent .widgets-switcher-item .widget-count {
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	color: var(--theme-accent-color);
	background: var(--theme-color);
}
html .dashboard-widget-col.widget-recent .widgets-switcher-item h3 {
	font-family: 'Inter', sans-serif;
	color: var(--title-color);
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 0;
}
html .dashboard-widget-col.widget-recent .recent-scores .widget-content {
	background: var(--background-middle-color);
}
html .dashboard-widget-col.widget-recent .recent-scores-item .recent-scores-item-col {
	border-bottom: 4px solid #00000020;
}
html .dashboard-widget-col.widget-recent .recent-scores-item,
html .dashboard-widget-col.widget-recent .recent-scores-item:hover {
	background: var(--background-middle-color);
	transition: .2s filter;
}
html .dashboard-widget-col.widget-recent .recent-scores-item:hover {
	filter: brightness(0.8);
}
html .dashboard-widget-col.widget-recent .recent-scores-item-has-test::before {
	filter: invert() brightness(var(--icon-brightness));
	background-size: cover;
}
html .dashboard-widget-col.widget-recent .recent-scores-item .recent-scores-item-col h4,
html .dashboard-widget-col.widget-recent .recent-scores-item .recent-scores-item-col:nth-child(2) {
	color: var(--paragraph-color);
	font-family: 'Inter', sans-serif;
}
html .dashboard-widget-col.widget-recent .recent-scores-item .recent-scores-item-col h4 {
	font-weight: bold;
}
html .dashboard-widget-col.widget-recent .recent-scores-item .recent-scores-item-col span.score {
	border-radius: .5rem;
	border: 0;
	background: var(--background-front-color);
	color: var(--paragraph-color);
	font-weight: bold;
	font-family: 'Inter', sans-serif;
	box-shadow: 0 7px 14px -3px var(--shadow-color);
}
html .dashboard-widget-col.widget-recent .recent-scores-item.new .recent-scores-item-col:first-child::before {
	background: var(--theme-color);
}
html .dashboard-widget-col.widget-recent .recent-messages .widget-content {
	background: var(--background-middle-color);
}
html .dashboard-widget-col.widget-recent .no-scores {
	color: var(--low-priority-text-color);
}
html .dashboard-widget-col.widget-recent .no-scores h4 {
	color: var(--title-color);
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}
html .dashboard-widget-col.widget-recent .no-scores .no-messages-img {
	display: none;
}
html .dashboard-widget-col.widget-recent .recent-scores .widget-header,
html .dashboard-widget-col.widget-recent .recent-messages .widget-header {
	background: var(--background-middle-color);
}
html .dashboard-widget-col.widget-recent .recent-scores .widget-header h3,
html .dashboard-widget-col.widget-recent .recent-messages .widget-header h3 {
	padding-left: 0;
}
html .dashboard-widget-col.widget-recent .recent-scores-item .recent-scores-item-col .score.warning {
	background: var(--red-color);
	color: var(--red-accent-color);
	box-shadow: 0 7px 14px -3px var(--red-shadow-color);
}
@media only screen and (min-width: 768px) {
	html .dashboard-widget-col.widget-recent .dashboard-widget.recent-scores .widget-header,
	html .dashboard-widget-col.widget-recent .dashboard-widget.recent-messages .widget-header {
		display: none;
	}
	html .dashboard-widget-col.widget-recent .recent-scores .widget-content,
	html .dashboard-widget-col.widget-recent .recent-messages .widget-content {
		padding-top: 0;
		margin-top: 60px;
	}
}
html .dashboard-widget-col.widget-recent .widget-content-collapse,
html .dashboard-widget-col.widget-recent .widget-close {
	display: none !important;
}
html .dashboard-widget-col.widget-recent .widget-show-all {
	border-bottom: 0;
}
html .home-open-lesson-times {
	display: none; /* This link caused a few issues because the diary doesn't initially load anyways, so to avoid the trouble let's just remove it */
}
html .dashboard .announcement {
	display: none;
}