/*
	Family plan landing page
*/
html .sys-content .section.plan-info-head {
	background: none;
	user-select: none;
	-webkit-user-drag: none;
}
html .sys-content .section.dark {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	margin-bottom: 20px;
}
html .sys-content .section-stores {
	display: none; /* Why are the "Get on App Store and Google Play" thingies even there? Completely unrelated so removing them */
}
html .sys-content h1 {
	font-size: 32px;
}
html .sys-content p {
	font-size: 15px;
}
html .announcement .warning .inner {
	height: 35px;
	background: var(--red-color);
	color: var(--red-accent-color);
	font-size: 15px;
	font-family: var(--font);
	font-weight: 500;
	padding: 5px;
	padding-bottom: 0;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--red-shadow-color);
}
html .plan-info-head .announcement {
	color: var(--title-color);
	background: none;
}
html .btn-transparent,
html .btn-transparent:focus,
html .btn-transparent:hover {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-weight: 500;
	font-family: var(--font);
	border: 0;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .btn-transparent:focus,
html .btn-transparent:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .btn-transparent::after {
	border: 2px solid var(--theme-accent-color);
	border-width: 0 2px 2px 0;
}
html .family-plan-carousel .carousel-inner {
	border-radius: var(--corner-radius);
}
html .family-plan-carousel {
	border-radius: var(--corner-radius);
	box-shadow: 2px 4px 7px -3px var(--shadow-color)
}
html .family-plan-carousel .row div {
	user-select: none;
	-webkit-user-drag: none;
}
html .family-plan-carousel h2 {
	color: var(--title-color);
	font-size: 24px;
}
html .family-plan-carousel .significant p {
	font-size: 15px;
}
html .carousel-inner .item:nth-child(1),
html .carousel-inner .item:nth-child(3) {
	background: var(--theme-color) !important;
	color: var(--theme-accent-color);
}
html .carousel-inner .item:nth-child(1) h2,
html .carousel-inner .item:nth-child(3) h2 {
	color: var(--theme-accent-color);
}
html .carousel-inner .item:nth-child(2),
html .carousel-inner .item:nth-child(4) {
	background: var(--background-front-color) !important;
}
html .section.plan-pros {
	background: none;
}
html .section.plan-pros .row .col-md-4 {
	display: none; /* The hats need to go */
}
html .section.plan-pros .row .col-md-8 {
	width: 100%;
	padding-left: 25%;
	padding-right: 25%;
}
html .section.plan-pros .pros-list li {
	background: none;
	padding-left: 0;
}
html .section.plan-pros .pros-list li p {
	display: inline-block;
	color: var(--paragraph-color);
	font-size: 15px;
	width: calc(100% - 65px);
	margin-left: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .section.plan-pros .pros-list li::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background: var(--paragraph-color);
	vertical-align: top;
	mask-size: cover;
	-webkit-mask-size: cover;
}
html .section.plan-pros .pros-list li:not(:last-child)::after {
	border-bottom: 4px solid var(--solid-divider-color);
}
html .family-plan-carousel .carousel-control.left::before,
html .family-plan-carousel .carousel-control.right::before {
	border: 6px solid var(--theme-accent-color);
	border-width: 0 6px 6px 0;
}
html .family-plan-carousel .carousel-control.left::before {
	left: 1rem;
}
html .family-plan-carousel .carousel-control.right::before {
	right: 1rem;
}
html .family-plan-carousel .carousel-indicators {
	user-select: none;
	-webkit-user-drag: none;
}
html .family-plan-carousel .carousel-indicators li {
	background: var(--low-priority-color);
	border: 0;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s width, .2s height;
}
html .family-plan-carousel .carousel-indicators .active {
	background: var(--background-middle-color);
}

/*
	Family plan payment options
*/
html .l-MainHeader {
	padding-top: 80px;
	user-select: none;
	-webkit-user-drag: none;
}
html .l-MainHeader a {
	display: none;
}
html .po-PaymentOptions .po-PageSubheading {
	user-select: none;
	-webkit-user-drag: none;
}
html .po-PaymentOptions_Item .sw-GridBox {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
	transition: .2s box-shadow, .2s filter;
}
html .po-PaymentOptions_Item .sw-GridBox:hover,
html .po-PaymentOptions_Item .sw-GridBox:active {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .sw-Price_Value {
	font-size: 32px;
	padding-right: 0;
}
html .sw-Price_Value::before {
	display: none;
}
html .sw-Price_Value::after {
	content: "€";
	font-size: 24px;
	margin-left: -5px;
	color: var(--low-priority-color);
	background: none;
}
html .sw-Price::after {
	display: none;
}
html .po-PaymentOptions_Item form {
	display: none;
}
html .sw-PriceContainer-subscription .sw-Price_Value-separateview,
html .sw-PriceContainer-online .sw-Price_Value-separateview,
html .sw-PriceContainer-sms .sw-Price_Value-separateview {
	padding-right: 0;
}
html .sw-InfoMessage,
html .sw-InfoMessage-secondary {
	color: var(--low-priority-color);
	font-weight: 500;
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .sw-InfoMessage {
	padding-top: 20px;
}
html .sw-InfoMessage_Body {
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .sw-GridBoxContainer_Item .sw-GridBox {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .sw-GridBox_SectionTitle-online,
html .sw-GridBox_SectionTitle-card,
html .sw-GridBox_SectionTitle-phone {
	background: none;
	padding-left: 10px;
	border-bottom: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .sw-BoxButton.sw-BoxButton-image {
	background-color: var(--background-front-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .sw-BoxButton.sw-BoxButton-image:focus,
html .sw-BoxButton.sw-BoxButton-image:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .sw-BoxButton-swed,
html .sw-BoxButton-swed:active,
html .sw-BoxButton-seb,
html .sw-BoxButton-seb:active,
html .sw-BoxButton-card,
html .sw-BoxButton-card:hover,
html .sw-BoxButton-card:active,
html .sw-BoxButton-card:focus {
	border: 0;
}
html .sw-BoxButton-sms {
	border-radius: var(--corner-radius);
	border: 0;
	background: var(--background-front-color);
	color: var(--paragraph-color);
	font-size: 24px;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .sw-BoxButton-sms:hover,
html .sw-BoxButton-sms:active,
html .sw-BoxButton-sms:focus {
	background: var(--background-front-color);
	border: 0;
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}