html footer {
	background: var(--background-back-color);
}
html footer a {
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
}
html footer .copyright {
	color: var(--low-priority-text-color);
	cursor: default;
	user-select: none;
	-webkit-user-drag: none;
}
html footer .footer-container .col-copy {
	display: inline-block;
	width: auto;
}
html footer .footer-container .go-top-col .go-top {
	background-color: var(--background-middle-color);
	color: var(--paragraph-color);
	font-size: 15px;
	padding: 10px;
	padding-left: 4rem;
	border-radius: 10px;
	transition: .2s filter, .2s box-shadow;
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
}
html footer .footer-container .go-top-col .go-top:hover {
	box-shadow: 0 4px 10px -3px var(--shadow-color);
	filter: brightness(0.8);
}
html footer .footer-container .go-top-col .go-top::before {
	top: 0;
	left: 3px;
	background-color: transparent;
	filter: invert() brightness(var(--icon-brightness));
	height: 100%;
}