html .login-form {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	padding: 0;
}
html .login-form-header {
	background: var(--theme-color);
	text-align: center;
	padding: 5px;
	border-radius: var(--corner-radius) var(--corner-radius) 0 0;
	cursor: default;
	user-select: none;
}
html .login-form-header h4 {
	height: auto;
	background: none;
	color: var(--theme-accent-color);
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 768px) {
	html .login-form h4 .content {
		font-family: "Inter", sans-serif;
	}
}
html .login-form h4 .content::after {
	display: none;
}
html .form-content {
	padding: 10px;
}
html .form-content .form-control {
	background: var(--background-front-color);
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: var(--corner-radius);
	padding: 5px;
	padding-left: 8px;
	border: 0;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .login-form .dummy-placeholder {
	color: var(--low-priority-color);
	font-family: "Inter", sans-serif;
}
html .login-form .btn-default {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-weight: 500;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: var(--corner-radius);
	padding: 5px;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s box-shadow, .2s filter;
}
html .login-form .btn-default:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .login-form .btn-default .progress {
	display: none;
}
html .login-form .show-password-btn {
	position: absolute;
	top: 7px;
	right: 7px;
	display: block;
	width: 27px;
	height: 27px;
	border-radius: var(--corner-radius);
	background: var(--background-middle-color);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	cursor: pointer;
	transition: .2s filter, .2s box-shadow;
}
html .login-form .show-password-btn:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .login-form .show-password-btn::before {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: var(--paragraph-color);
	margin: 4px;
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .login-form .show-password-btn::after {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: var(--paragraph-color);
	margin: 4px;
	margin-top: -23px;
	mask-size: contain;
	-webkit-mask-size: contain;
	clip-path: inset(100% 100% 0 0);
	transition: .3s clip-path;
}
html .login-form .show-password-btn.active::after {
	clip-path: inset(100% 100% 100% 100%);
}
html .login-form .checkbox {
	margin-bottom: 15px;
}
html .login-links {
	padding-left: 0;
	margin-bottom: 5px;
	text-align: center;
}
html .login-links li {
	list-style-type: none;
	display: inline-block;
}
html .login-links a,
html .login-links a:hover,
html .login-links .special-link .title,
html .login-links .special-link .title:hover {
	color: var(--theme-color);
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .login-links .special-link.seeable .content-container,
html .login-links .special-link.seeable .title.selected::after,
html .login-links .special-link.seeable .title.selected::before {
	display: none !important; /* Hide the login help things by default */
}
html .login-links .special-link.seeable .title.selected {
	font-weight: normal;
}
html .top-login-holder {
	display: none !important; /* The mobile login header popup thing is very bad and it sucks and nobody should ever have to use it soo... byeeeee */
}
@media (max-width: 767px) {
	html aside.hidden-xs {
		display: block !important; /* ...and let's bring back the desktop login form, of course, adjusted for mobile */
		width: 100%;
	}
	html .main-header .logo-holder .logo {
		margin: 9px auto 0 auto;
	}
}

html .main-header {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
}
html .main-header .hamburger {
	display: none !important;
	/* Literally no one reads the articles and needs them (and especially on mobile - completely unneccessary)
	and the hamburger icon messes everything up so it has to go */
}
html .primary-sticked header {
	padding-top: 0;
}
html .main-header,
html .primary-sticked .main-header,
html .primary-stickied .main-header {
	position: static;
	width: 100%;
	border-bottom: 4px solid var(--opaque-divider-color);
}
html .main-header[data-is-stickied="true"] {
	margin-bottom: 80px;
}
html .header-info {
	font-size: 15px;
	cursor: default;
	user-select: none;
	-webkit-user-drag: none;
}
html .header-info-holder {
	width: 80%;
}
html .header-info .date {
	font-weight: bold;
}
html .main-header .logo-holder .logo {
	width: 100px;
	height: 50px;
	margin: 7px 0 0 0;
	transition: .2s opacity;
}
html .main-header .logo-holder .logo:hover {
	opacity: 0.7;
}
html .socials li.fb {
	transition: .2s opacity;
}
html .socials li.fb:hover {
	opacity: 0.7;
}
html .secondary-header {
	background: var(--background-middle-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	padding-top: 12px;
	height: 43px;
	width: 100%;
	z-index: 400;
}
html .secondary-header[data-is-stickied="true"] {
	position: fixed !important;
	top: 0;
	left: 0;
}
html .secondary-header.sticked {
	position: static;
}
html .secondary-header.slideInDown,
html .secondary-header.slideUpDown,
html .secondary-header.animated,
html .secondary-header.stickied,
html .secondary-header {
	animation: none;
}
html .main-menu-item,
html .main-menu-item:hover {
	color: var(--paragraph-color);
	font-size: 15px;
	transition: .2s opacity;
	cursor: default;
	text-transform: none;
	overflow: hidden;
	user-select: none;
	-webkit-user-drag: none;
}
html .main-menu-item:hover {
	opacity: 0.7;
}
html .main-menu-item.active,
html .main-menu-item:hover.active {
	font-weight: 500;
	color: var(--theme-color);
}
html .main-menu-item::after,
html .main-menu-item.active::after {
	content: "";
	position: absolute;
	bottom: -6px;
	display: block;
	width: 100%;
	height: 6px;
	border-radius: var(--corner-radius) var(--corner-radius) 0 0;
	background: var(--theme-color);
	transition: .2s bottom;
}
html .main-menu-item.active::after,
html .main-menu-item:hover::after {
	bottom: 0;
}
html .toggle-search,
html .toggle-search-inner {
	color: var(--paragraph-color);
	transition: .2s opacity;
	cursor: pointer;
	user-select: none;
}
html .toggle-search:hover,
html .toggle-search-inner:hover {
	opacity: 0.7;
}
html .toggle-search .open-search::after,
html .toggle-search-inner .open-search::after,
html .toggle-search .in-results::after,
html .toggle-search-inner .in-results::after {
	background: var(--paragraph-color);
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .toggle-search .in-results,
html .toggle-search-inner .in-results {
	cursor: default;
	opacity: 0.7;
	color: var(--paragraph-color);
}
html .secondary-menu .main-menu-item a {
	color: var(--paragraph-color);
	font-size: 15px;
	transition: none;
}
html .secondary-menu .main-menu-item.active::after {
	border-radius: var(--corner-radius) var(--corner-radius) 0 0;
}
html .secondary-menu {
	background: var(--background-middle-color);
	margin-bottom: 1rem;
	padding: 10px 0 0 15px;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .secondary-menu::after {
	border-bottom: 0;
}
html .secondary-menu .main-menu-item.active a {
	color: var(--theme-color);
	font-weight: 500;
}
html .secondary-menu a:hover {
	opacity: 1;
}
html .secondary-menu ul {
	height: 26px;
}
html h2.section-title {
	border-bottom: 4px solid var(--solid-divider-color);
}
@media (max-width: 767px) {
	html .main-header {
		border-radius: 0 0 var(--corner-radius) var(--corner-radius);
		box-shadow: 2px 4px 7px -3px var(--shadow-color);
		border-bottom: 0;
	}
	html .secondary-header {
		display: none;
	}
}

html .primary-article .additional-article-item .image,
html .primary-article .article-item .image,
html .additional-article-item .image, .article-item .image,
html .date-item .date-item-image {
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .primary-article .additional-article-item h3,
html .primary-article .article-item h3,
html .additional-article-item h3,
html .article-item h3 {
	color: var(--title-color);
	font-size: 24px;
	display: inline;
}
html .additional-article-item h3,
html .article-item h3 {
	font-size: 18px;
	user-select: none;
	-webkit-user-drag: none;
}
html .additional-article-item .article-metas,
html .article-item .article-metas {
	color: var(--low-priority-color);
	margin-top: 5px;
	position: static;
	left: 0;
	width: 100%;
	user-select: none;
	-webkit-user-drag: none;
}
html .primary-article .additional-article-item .date,
html .primary-article .article-item .date {
	font-size: 11px;
}
html .additional-article-item .article-metas .likes,
html .article-item .article-metas .likes,
html .additional-article-item .article-metas .comments,
html .article-item .article-metas .comments,
html .additional-article-item .article-metas .comments span,
html .article-item .article-metas .comments span {
	color: var(--theme-color);
	font-size: 11px;
	font-weight: 500;
	transition: .2s opacity;
}
html .additional-article-item .article-metas .likes:hover,
html .article-item .article-metas .likes:hover,
html .additional-article-item .article-metas .comments:hover,
html .article-item .article-metas .comments:hover,
html .additional-article-item .article-metas .comments span:hover,
html .article-item .article-metas .comments span:hover {
	opacity: 0.7;
	cursor: pointer;
}
html .additional-article-item .article-metas .likes::after,
html .article-item .article-metas .likes::after {
	background: var(--theme-color);
	mask-size: cover;
	-webkit-mask-size: cover;
}
html .additional-article-item .article-metas.reacted .likes::after,
html .article-item .article-metas.reacted .likes::after {
	background: var(--theme-color);
}
html .additional-article-item .article-metas .tags,
html .article-item .article-metas .tags {
	max-height: none;
}
html .additional-article-item .article-metas .tags li,
html .article-item .article-metas .tags li {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	padding: 2px 4px 2px 4px;
	border-radius: var(--corner-radius);
	margin-bottom: 5px;
	font-size: 11px;
	transition: .2s opacity;
}
html .additional-article-item .article-metas .tags li:hover,
html .article-item .article-metas .tags li:hover {
	opacity: 0.7;
}
@media only screen and (max-width: 1042px) {
	html .additional-article-item .image,
	html .article-item .image {
		border-radius: var(--corner-radius) var(--corner-radius) 0 0;
	}
}
@media only screen and (min-width: 768px) {
	html .additional-article-item .article-metas .tags-container,
	html .article-item .article-metas .tags-container {
		margin-bottom: 1px;
	}
}

html .splitter {
	/* border-top: 4px solid var(--solid-divider-color); */
	border-top: 0;
}
html .splitter a,
html .btn.load-more {
	display: block;
	width: 150px;
	height: 32px;
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	padding: 8px;
	border: 0;
	border-radius: var(--corner-radius);
	margin: auto;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
	transition: .2s box-shadow, .2s filter;
}
html .splitter a:hover,
html .btn.load-more:hover {
	color: var(--paragraph-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
	opacity: 1;
}
html .btn.load-more .progress {
	display: none;
}
html .btn.load-more .content {
	color: var(--paragraph-color);
}
html .splitter .arrow-lift-up {
	display: none;
}

html .article-header .header-content {
	width: 100%;
}
html .article-header .header-content h1 {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0;
}
html .article-header .header-content .date {
	width: 100%;
	font-size: 11px;
	color: var(--low-priority-color);
	margin-bottom: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .article-header .header-content .tags {
	margin-bottom: 5px;
}
html .article-header .header-content .tags li {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
	border-radius: var(--corner-radius);
	transition: .2s opacity;
}
html .article-header .header-content .tags li:hover {
	opacity: 0.7;
}
html .reactions {
	user-select: none;
	-webkit-user-drag: none;
}
html .reactions .reactions-item {
	font-size: 15px;
	font-weight: 500;
	margin-right: 10px;
}
html .reactions .reactions-item .count {
	margin: 0;
}
html .reactions .reactions-item.likes .icon,
html .reactions .reactions-item.dislikes .icon {
	width: 17px;
	height: 17px;
	top: 3px;
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .reactions .reactions-item.likes {
	color: var(--theme-color);
}
html .reactions .reactions-item.likes .icon {
	background: var(--theme-color);
}
html .reactions .reactions-item.dislikes {
	color: var(--red-color);
}
html .reactions .reactions-item.dislikes .icon {
	background: var(--red-color);
}
html .reactions.reacted.reacted-dislikes .reactions-item.likes,
html .reactions.reacted.reacted-likes .reactions-item.dislikes {
	display: inline-block;
}
html .reactions .reactions-item.comments {
	color: var(--theme-color);
	transition: .2s opacity;
}
html .reactions .reactions-item.comments:hover {
	opacity: 0.7;
}
html .reactions .reactions-item.comments .title {
	margin-right: 0;
}
html .article-header .header-image .image-wrapper,
html .article-header .header-image .image-wrapper img,
html .article-content .image img,
html .article-content img,
html .article-body iframe {
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .article-content .article-body img {
	max-width: calc(100% - 20px) !important;
	width: calc(100% - 20px) !important;
}
html .article-header .header-image .image-wrapper img {
	margin-bottom: 0 !important;
}
html .article-header .header-image .image-credit,
html .article-content .image-credit {
	color: var(--low-priority-color);
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .article-content .article-intro,
html .article-content .article-body p,
html .article-content .article-body {
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-size: 15px;
}
html .article-content .article-body h2 strong {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
	font-size: 24px;
	font-weight: bold;
}
html .article-content .article-body h2 span {
	text-decoration: none !important;
}
html .gal-title {
	background: none;
	padding-left: 10px;
	color: var(--title-color);
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: bold;
}
html .gal-thumbs .item img {
	outline: var(--theme-color) solid 0;
	transition: .2s outline;
}
html .gal-thumbs .item.slick-center img {
	outline: var(--theme-color) solid 3px;
	transition: .2s outline;
}
html .gal-thumbs .slick-next,
html .gal-thumbs .slick-next:hover,
html .gal-thumbs .slick-prev,
html .gal-thumbs .slick-prev:hover {
	top: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--background-middle-color);
	opacity: 1;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .gal-thumbs .slick-next:hover,
html .gal-thumbs .slick-prev:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .article-header {
	display: block;
	border-bottom: 4px solid var(--solid-divider-color);
}
html .additional-articles-items {
	border-top: 4px solid var(--solid-divider-color);
}
html .comments-top {
	border-bottom: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .comments-top h1 {
	color: var(--title-color);
	font-size: 32px;
	margin-top: 10px;
}
html .btn.add-comment,
html .btn.btn-send {
	background: var(--theme-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .btn.add-comment:hover,
html .btn.btn-send:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .btn.add-comment .content,
html .btn.btn-send .content {
	color: var(--theme-accent-color);
	font-weight: 500;
}
html .btn.add-comment .progress,
html .btn.btn-send .progress {
	display: none;
}
html .comment-item {
	border-bottom: 0;
	margin-bottom: 40px;
}
html .comment-item .comment-header {
	margin-bottom: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .comment-item .comment-header .author,
html .comment-item .comment-header .date {
	color: var(--low-priority-color);
	font-size: 15px;
	margin-right: 2px;
	transition: .2s opacity;
}
html .comment-item .comment-header .author {
	font-weight: 500;
}
html .comment-item .comment-header .author::after {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: 5px;
	border-radius: 50%;
	background: var(--low-priority-color);
}
html .comment-item .comment-header .date:hover {
	opacity: 0.7;
}
html .comment-item .comment-body {
	color: var(--paragraph-color);
	margin-bottom: 5px;
}
html .comment-item .comment-footer {
	text-align: left;
}
html .comment-item .comment-footer .ttl,
html .comment-item .comment-footer .column {
	display: none;
}
html .comment-item .comment-footer .comment-reactions {
	user-select: none;
	-webkit-user-drag: none;
	margin-left: 0;
}
html .comment-item .comment-footer .likes {
	margin-left: 0;
}
html .comment-item .comment-footer .likes,
html .comment-item .comment-footer .dislikes {
	font-size: 15px;
	font-weight: 500;
	transition: .2s opacity;
}
html .comment-item .comment-footer .likes:hover,
html .comment-item .comment-footer .dislikes:hover {
	opacity: 0.7;
}
html .comment-item .comment-footer .likes {
	color: var(--theme-color);
}
html .comment-item .comment-footer .dislikes {
	color: var(--red-color);
}
html .comment-item .comment-footer .likes::after,
html .comment-item .comment-footer .dislikes::after {
	top: 3px;
	left: 1px;
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .comment-item .comment-footer .likes::after {
	background: var(--theme-color);
}
html .comment-item .comment-footer .dislikes::after {
	background: var(--red-color);
}
html .comments-form-holder .form-group {
	margin-bottom: 0;
}
html .comments-form-holder h4 {
	font-size: 24px;
	color: var(--title-color);
	border-bottom: 0;
	margin-bottom: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .comments-form-holder h4::before {
	display: none;
}
html .comments-form-holder label {
	font-weight: 500;
	font-size: 15px;
	color: var(--paragraph-color);
	margin-bottom: 5px;
	margin-top: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .comments-form-holder .form-control {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	border: 0;
	border-radius: var(--corner-radius);
	font-size: 15px;
	font-family: "Inter", sans-serif;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .comments-form-holder textarea.form-control {
	resize: vertical;
}
html .comments-form-holder .form-group.security-check {
	margin-top: 10px;
	background: none;
	user-select: none;
	-webkit-user-drag: none;
}
html .comments-form-holder .form-group.security-check label {
	padding-left: 0;
	padding-top: 0;
}
html .comments-form-holder .form-group.security-check .input-group {
	display: block;
	padding-top: 0;
}
html .comments-form-holder .form-group.security-check .input-group .text {
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	padding-right: 3px;
}
html .comments-form-holder .form-group.security-check .input-group .input {
	display: inline-block;
}
html .comments-form-holder .disclaimer {
	font-size: 11px;
	color: var(--low-priority-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .helpful-info {
	color: var(--paragraph-color);
	background: none;
	font-size: 15px;
	padding-left: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .helpful-info.dates {
	background-image: none;
}
html .date-item {
	user-select: none;
	-webkit-user-drag: none;
}
html .date-item h2 {
	display: inline;
	color: var(--title-color);
}
html .date-item .more-link {
	display: none;
}
html .faq-topics-menu .faq-topic-item a::before {
	display: none;
}
html .faq-topics-menu .faq-topic-item {
	color: var(--paragraph-color);
	height: auto;
	padding-left: 20px;
	margin-left: 0;
	margin-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
	transition: .2s opacity;
}
html .faq-topics-menu .faq-topic-item:hover {
	opacity: 0.7;
	cursor: pointer;
}
html .faq-topics-menu ul > .faq-topic-item.active {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	margin-bottom: 10px;
	transition: .2s filter, .2s box-shadow;
}
html .faq-topics-menu ul > .faq-topic-item.active:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
	opacity: 1;
}
html .faq-topics-menu .faq-topic-item.active a {
	color: var(--paragraph-color);
	font-weight: 500;
	font-size: 15px;
}
html .faq-item {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	padding-top: 1px;
	border: 0;
}
html .faq-item a h4 {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	margin-left: 10px;
	margin-right: 10px;
}
html .emer-num-block {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .emergency-title,
html .emergency-description,
html .emergency-subtitle {
	background: none;
}
html .emer-num-block .emer-num-num a {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
	font-size: 32px;
	font-weight: bold;
}
html .emer-num-block .emer-num-text {
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .emer-num-block .emer-num-or {
	color: var(--low-priority-color);
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	user-select: none;
	-webkit-user-drag: none;
}
html .emergency-subtitle {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .article-container-type-1 h2 {
	color: var(--title-color);
	font-size: 24px;
}
html .container.page-about {
	user-select: none;
	-webkit-user-drag: none;
}
html .packages-section.section-2,
html .about-partners {
	background: var(--background-middle-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .packages-section.section-2 h1 {
	color: var(--title-color);
	font-size: 32px;
	margin-bottom: 5px;
}
html .packages-section.section-2 ul li {
	background: none;
	color: var(--paragraph-color);
	padding-left: 0;
}
html .container.page-about .row p span span,
html .container.page-about .row ol li span span,
html .container.page-about .row ol li::marker,
html .container.page-about .row ul li span span,
html .container.page-about .row ul li::marker {
	color: var(--paragraph-color) !important;
}

/* Search */
html .search-holder .container {
	border-top: 0;
}
html .search-holder .search-field-wrap,
html .search-holder-inner .search-field-wrap {
	background: var(--background-middle-color);
	border: 0;
	border-radius: var(--corner-radius);
	box-shadow: 0 4px 10px -3px var(--shadow-color);
}
html .search-holder .search-field,
html .search-holder-inner .search-field {
	background: var(--background-middle-color);
	color: var(--title-color);
	font-size: 22px;
}
html .search-holder .search-field-wrap::after,
html .search-holder-inner .search-field-wrap::after {
	background: var(--background-middle-color);
	border: 0;
}
html .search-holder .search-field:focus::placeholder,
html .search-holder-inner .search-field:focus::placeholder {
	color: var(--low-priority-color);
}
html .search-holder .btn-search-big,
html .search-holder-inner .btn-search-big {
	background: var(--title-color);
	margin-top: 1rem;
	mask-size: contain;
	-webkit-mask-size: contain;
	transition: .2s opacity;
}
html .search-holder .btn-search-big:hover,
html .search-holder-inner .btn-search-big:hover {
	opacity: 0.7;
}
html .toggle-search .close-search::after,
html .toggle-search-inner .close-search::after {
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 4px;
	background: var(--paragraph-color);
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .toggle-search .close-search,
html .toggle-search-inner .close-search {
	color: var(--paragraph-color);
}

/* Rules */
html .toc-modal .modal-dialog {
	border-radius: var(--corner-radius);
	background: var(--background-middle-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
}
html .toc-modal .modal-content {
	color: var(--paragraph-color);
	border-radius: var(--corner-radius);
}
html .toc-modal .modal-body {
	box-shadow: none;
}
html .toc-modal .modal-header {
	background: none;
	box-shadow: none;
}
html .toc-modal .nav-tabs li,
html .toc-modal .nav-tabs li.active,
html .toc-modal .nav-tabs li a,
html .toc-modal .nav-tabs li.active a {
	color: var(--theme-color);
	padding: 0;
}
html .toc-modal .nav-tabs li.active a:focus,
html .toc-modal .nav-tabs li.active a:hover {
	background: none;
	
	padding: 0;
}
html #toc .tab-content strong {
	font-size: 18px;
	color: var(--title-color);
	font-weight: bold;
}
html .modal-header-toc h4.active {
	color: var(--title-color);
	user-select: none;
	-webkit-user-drag: none;
}

/* User login */
html .modal-content.modal-login {
	background: none;
	box-shadow: 0 4px 10px -3px var(--shadow-color);
	border-radius: var(--corner-radius);
}
html .modal-content.modal-login .modal-body {
	background: var(--background-middle-color);

	border-radius: 0 0 var(--corner-radius) var(--corner-radius);
}
html .modal-header {
	border: 0;
}
html .modal-header h4 {
	color: var(--theme-accent-color);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 24px;
}
html .modal-header.student-profile {
	background: var(--theme-gradient);
}
html .welcome-greeting .welcome-greeting-image.student-other {
	border-radius: 50%;
}
html .welcome-greeting h3,
html .welcome-greeting strong,
html .modal-options-item .modal-options-title span {
	font-family: "Inter", sans-serif;
	font-weight: bold;
}
html .modal-options-item {
	background: var(--background-front-color);
	color: var(--paragraph-color);
	border: 0;
	border-radius: var(--corner-radius);
	box-shadow: 0 4px 10px -3px var(--shadow-color);
	transition: .2s filter;
}
html .modal-options-item:hover {
	filter: brightness(0.8);
}
html .modal-options-item .modal-options-title span {
	color: var(--paragraph-color);
}
html .modal-options-item .modal-options-choice {
	color: var(--paragraph-color);

	border-top: 0;
}
html .modal-options-item .modal-options-title spanr {
	color: var(--paragraph-color);
	
	text-transform: uppercase;
	font-weight: bold;
}
html .modal-options-item .modal-options-button,
html .modal-options-item .modal-options-button:hover {
	background-color: transparent;
}
html .modal-header .modal-logout {
	width: 2rem;
	background: none;
	color: var(--theme-accent-color);
	text-align: center;
	padding-top: 0;
	transition: .2s opacity;
}
html .modal-header .modal-logout:hover {
	opacity: 0.7;
}
html .modal-header .modal-logout::before {
	content: "";
	top: 0;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: .25rem;
}

/* Insurance */
html .image-heading .logos .item {
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .menu-type-3 {
	background: var(--background-middle-color);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .mCSB_container,
html .mCSB_container .container,
html .mCSB_container .row,
html .mCSB_container .col-xs-12,
html .mCSB_container ul.list {
	height: 100%;
	user-select: none;
	-webkit-user-drag: none;
}
html .menu-type-3 .list li {
	height: 100%;
}
html .menu-type-3 .list li a {
	color: var(--paragraph-color);
	text-transform: none;
	height: 100%;
	padding-bottom: 11px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	transition: .2s opacity;
	position: relative;
	overflow: hidden;
}
html .menu-type-3 .list li a:hover {
	opacity: 0.7;
}
html .menu-type-3 .list li a::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	display: block;
	width: 100%;
	height: 6px;
	background: var(--theme-color);
	border-radius: var(--corner-radius) var(--corner-radius) 0 0;
	transition: .2s bottom;
}
html .menu-type-3 .list li a:hover::after {
	bottom: 0;
}
html .menu-type-3 .list li button {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: 500;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .menu-type-3 .list li button:hover,
html .menu-type-3 .list li button:focus {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .text-card h2 {
	font-size: 24px;
	font-weight: bold;
}
html .text-card p,
html .text-card ul {
	color: var(--paragraph-color);
	font-size: 15px;
}
html .background-block-type-1 {
	background: none;
	padding-top: 0;
	padding-bottom: 0;
}
html .btn.btn-type-1,
html .btn.btn-progress-primary,
html .btn.btn-type-2 {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	border-radius: var(--corner-radius);
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: 500;
	border: 0;
	padding: 10px !important;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .btn.btn-type-1:hover,
html .btn.btn-progress-primary:hover,
html .btn.btn-type-2:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .btn.btn-progress-primary .progress {
	display: none;
}
html .btn.btn-type-2 {
	background: var(--background-front-color);
	color: var(--paragraph-color);
}
html .card {
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .card .card-header {
	background: none;
}
html .card .card-header.highlight-1,
html .card .card-header.highlight-2,
html .card .card-header {
	color: var(--title-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .card .warranty-price {
	user-select: none;
	-webkit-user-drag: none;
}
html .card .warranty-price .currency {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: var(--low-priority-color);
}
html .card .warranty-price .units {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	color: var(--title-color);
}
html .card .warranty-price .smaller-units {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	color: var(--paragraph-color);
	top: -14px;
}
html .card .warranty-price .postfix {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: var(--low-priority-color);
}
html .card .card-body ul {
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .card .card-body .icon.icon-like {
	display: none;
}
html .card .badge {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .card .card-footer .sport-selector label {
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .sport-selector .icon.icon-question-mark {
	background: var(--theme-color);
	mask-size: contain;
	-webkit-mask-size: contain;
	transition: .2s opacity;
}
html .sport-selector .icon.icon-question-mark:hover {
	opacity: 0.7;
}
html .card .select2-container {
	margin-bottom: 30px;
}
html .card .select2-container--default .select2-selection--single .select2-selection__rendered {
	background: var(--background-front-color);
	height: 42px;
}
html .select2-container--default .select2-results__option,
html .select2-container--default .select2-results__option[aria-selected="true"],
html .select2-dropdown .select2-results {
	background: var(--background-front-color);
}
html .select2-dropdown .select2-results {
	border-radius: 0 0 var(--corner-radius) var(--corner-radius);
}
html .select2-container .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
	background: var(--background-front-color);
	filter: brightness(0.9);
}
html section.background-block-type-5 {
	background: var(--background-middle-color) !important;
}
html .background-block-type-5 h2,
html .background-block-type-3 h2,
html .background-block-type-2 h2,
html .background-block-type-4 h2 {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 32px;
	user-select: none;
	-webkit-user-drag: none;
}
html .icon-title-desc-list-type-1 .title {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 24px;
	border-bottom: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .icon-title-desc-list-type-1 .icon-desc-container .item p {
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .card-faq h2 {
	color: var(--title-color);
	font-size: 32px;
	user-select: none;
	-webkit-user-drag: none;
}
html .card-faq .faq li .title {
	color: var(--paragraph-color);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 18px;
	border-bottom: 0;
	user-select: none;
	-webkit-user-drag: none;
	transition: .2s opacity;
}
html .card-faq .faq li .title:hover {
	opacity: 0.7;
}
html .card-faq .faq li .title::after {
	background: var(--low-priority-color);
	width: 20px;
	height: 20px;
	mask-size: contain;
	-webkit-mask-size: contain;
	transition: .2s transform;
}
html .card-faq .faq li:hover .title span {
	animation: none;
}
html .card-faq .faq li .description {
	background: none;
	color: var(--paragraph-color);
	font-size: 15px;
	padding-top: 8px;
	border-bottom: 0;
	user-select: none;
}
html .background-block-type-3 {
	background: var(--background-middle-color);
}
html .block-list-type-1 li .description {
	color: var(--low-priority-color);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .block-list-type-1 li .highlighted {
	color: var(--paragraph-color);
	font-size: 24px;
	user-select: none;
	-webkit-user-drag: none;
	transition: .2s opacity;
}
html .block-list-type-1 li .highlighted:hover {
	opacity: 0.7;
}
html .background-block-type-2 {
	background: var(--background-middle-color);
}

/*
	Ads
*/
html .rekl-section h2 {
	font-family: "Inter", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: var(--title-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-why p {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	line-height: 27px;
	font-weight: 500;
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-why .why-stats p ,
html .rekl-option-item .sub-items .sub-item,
html .rekl-options-system .rekl-options-items .rekl-option-item > .inner .sub-items .inner {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: var(--low-priority-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-why .why-stats .inner,
html .rekl-why .why-facts .inner,
html .rekl-options-system .description,
html .rekl-options-portal .description,
html .rekl-options-portal .rekl-option-item h3,
html .rekl-options-system .rekl-options-items .rekl-option-item > .inner h3,
html .rekl-options-system .rekl-option-item.stats-item .sub-item {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-options-portal .rekl-option-item p,
html .rekl-options-system p {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-options-portal,
html .rekl-stats {
	background: var(--background-middle-color);
}
html .rekl-stats .stats-graph-container {
	border-bottom: 2px solid var(--opaque-divider-color);
}
html .rekl-stats .stats-graph-container .graph-background .graph-label {
	color: var(--low-priority-color);
	font-size: 15px;
	border-bottom: 2px solid var(--opaque-divider-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-stats .stats-graph-container .graph-bars .bar .bar-vertical {
	background: var(--theme-color);
	border-radius: var(--corner-radius);
}
html .rekl-stats .stats-graph-container .graph-bars .bar .bar-vertical .value {
	color: var(--paragraph-color);
	font-size: 15px;
	font-weight: 500;
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-stats .stats-graph-container .graph-bars .bar .name {
	color: var(--low-priority-color);
	font-size: 15px;
	font-weight: 500;
	user-select: none;
	-webkit-user-drag: none;
}
html .rekl-stats .graph-title {
	color: var(--paragraph-color);
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}

html .marquee.runtext-container {
	background: var(--theme-color) !important;
}
html .marquee.runtext-container .main-runtext .holder .text-container {
	color: var(--theme-accent-color);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 18px;
	user-select: none;
	-webkit-user-drag: none;
}