/**
* Login box
*/
html .login-widget {
	border: 0;
	background: var(--background-middle-color);
	border-radius: var(--corner-radius);
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
}
html .login-widget .login-widget__header {
	background: none;
}
html .login-widget .login-widget__header span {
	color: var(--title-color);
	font-family: var(--font);
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 0 !important;
}
html .login-widget .login-widget__header svg {
	display: none !important;
}
html .login-widget .login-widget__body {
	background: none;
}
html .login-widget .login-widget__body .login__form input {
	border: 0;
	padding: 8px;
	height: 40px;
	border-radius: var(--corner-radius);
	background: var(--background-front-color);
	color: var(--paragraph-color);
	font-size: 15px;
	font-family: var(--font);
}
html .login-widget .login-widget__body .login__form input::placeholder {
	color: var(--low-priority-color);
}
html .login-widget .login-widget__body .login__form .password-field {
	position: relative;
}
html .login__form .show-password-btn {
	position: absolute;
	top: 7px;
	right: 7px;
	display: block;
	width: 27px;
	height: 27px;
	border-radius: var(--corner-radius);
	background: var(--background-middle-color);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	cursor: pointer;
	transition: .2s filter, .2s box-shadow;
}
html .login__form .show-password-btn:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .login__form .show-password-btn::before {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: var(--paragraph-color);
	margin: 4px;
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .login__form .show-password-btn::after {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: var(--paragraph-color);
	margin: 4px;
	margin-top: -23px;
	mask-size: contain;
	-webkit-mask-size: contain;
	clip-path: inset(100% 100% 0 0);
	transition: .3s clip-path;
}
html .login__form .show-password-btn.active::after {
	clip-path: inset(100% 100% 100% 100%);
}
html .login-widget .login-widget__body .login__form .checkbox {
	text-align: left !important;
	margin-bottom: 10px;
}
html .login-widget .login-widget__body .login__form .btn.btn-success {
	border-radius: var(--corner-radius);
	color: var(--theme-accent-color) !important;
	background: var(--theme-color);
	border: 0;
	transition: .2s all;
}
html .login-widget .login-widget__body .login__form .btn.btn-success:hover {
	filter: brightness(0.9);
}
html .login-widget li,
html .login-widget li a {
	color: var(--theme-color) !important;
	font-family: var(--font);
}