@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html body {
	background: var(--background-back-color);
	font-family: "Inter", sans-serif;
	margin: 0;
}
html body,
html body section h2 {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
}

html ::selection {
	background: var(--theme-color);
	color: var(--theme-accent-color);
}

html ::-webkit-scrollbar-track {
	background: var(--background-back-color);
}
html ::-webkit-scrollbar-thumb {
	background: var(--background-middle-color);
}