html body {
	background: var(--background-back-color);
	font-family: var(--font);
	margin: 0;
	overflow-x: hidden;
}
html body,
html body section h2 {
	color: var(--title-color);
	font-family: var(--font);
}


/*
	Selections
*/
html ::selection {
	background: var(--theme-color);
	color: var(--theme-accent-color);
}


/*
	Scrollbars
*/
* {
	scrollbar-color: var(--background-front-color) var(--background-middle-color);
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--background-middle-color);
}
::-webkit-scrollbar-thumb {
	background: var(--background-front-color);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--background-front-color);
}