@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html body {
	background: var(--background-back-color);
	font-family: "Inter", sans-serif;
	margin: 0;
	overflow-x: hidden;
}
html body,
html body section h2 {
	color: var(--title-color);
	font-family: "Inter", sans-serif;
}

html ::selection {
	background: var(--theme-color);
	color: var(--theme-accent-color);
}

* {
	scrollbar-color: var(--background-front-color) var(--background-middle-color);
}