html .toggle-mobile-menu {
	filter: brightness(10) brightness(var(--icon-brightness));
}
html .mobile-menu,
html .mobile-menu .mobile-menu-header {
	background: var(--background-middle-color);
	margin-top: calc(58px - 1rem);
	padding-top: 1rem;
}
html .mobile-menu .mobile-menu-header {
	display: none;
}
html .mobile-second-menu li,
html .mobile-first-menu li,
html .mobile-second-menu-item.open,
html .mobile-first-menu .mobile-first-menu-item.open:not(:first-of-type) {
	border: 0;
}
html .mobile-first-menu-item:last-child {
	border-bottom: 4px solid var(--divider-color);
}
html .mobile-second-menu-item a,
html .mobile-second-menu-item.active a,
html .mobile-first-menu-item a {
	background: var(--background-middle-color);
	color: var(--paragraph-color);
	font-family: 'Inter', sans-serif;
	border: 0;
}
html .current-student-profile-arrow {
	display: none;
}
html .mobile-first-menu-item.open:not(:first-of-type) {
	border: 0;
}
html .mobile-first-menu .mobile-first-menu-item .mobile-first-menu-sub {
	padding: 0;

	border: 0;
}
html .mobile-first-menu-item .mobile-first-menu-sub .mobile-first-menu-sub-item a {
	color: var(--paragraph-color);
}
html .mobile-second-menu-sub {
	display: none !important;
}
html .mobile-second-menu-item.open,
html .mobile-first-menu-item.open {
	background: none;
}
html .mobile-second-menu-item.has-sub-items::after {
	display: none;
}
html .mobile-second-menu-item a::before,
html .mobile-second-menu-item.active a::before,
html .mobile-first-menu-item a::before {
	filter: invert() brightness(var(--icon-brightness));
}
html .header-second .current-user {
	display: none;
}
html .mobile-second-menu-item.item-home a::before,
html .mobile-second-menu-item.item-journal a::before,
html .mobile-second-menu-item.item-messages a::before,
html .mobile-second-menu-item.item-analytics a::before {
	width: 16px;
	height: 16px;
}
html .mobile-menu-underlay {
	background: #00000000;
	transition: .2s background;
}

/* OTHER MOBILE THINGS */
html .current-page h1 {
	font-size: 1.5rem;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}