/* General */
html .modal {
	position: fixed;
	top: 15%;
	left: 25%;
	display: none;
	width: 50%;
	height: 70%;
	background: var(--background-middle-color);
	border-radius: var(--corner-roundness);
	box-shadow: 2px 7px 14px -3px var(--shadow-color);
	opacity: 0;
	transform: scale(0.75);
	z-index: 1041;
	transition: .2s transform, .2s opacity;
}
html .modal-dialog.timetable-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
}
html .modal-body {
	background: none;
	box-shadow: none;
}
html .modal-backdrop {
	display: none !important;
}
html .modal-background {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	background: #000000;
	opacity: 0;
	transition: .2s opacity;
}
html .modal-technical .modal-close {
	background: var(--paragraph-color);
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	mask-size: cover;
	-webkit-mask-size: cover;
	transition: .2s opacity;
}
html .modal-technical .modal-close:hover {
	opacity: 0.7;
}
html .modal-technical h1 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 32px;
	margin-right: 0;
	margin-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .modal h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .modal p {
	font-size: 15px;
	line-height: 20px;
	user-select: none;
	-webkit-user-drag: none;
}

/* Mark card */
html .modal-mark-card .mark-card-inner-title {
	border-radius: var(--corner-roundness) var(--corner-roundness) 0 0;
	background: var(--background-front-color);
	border: 0;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}
html .modal-mark-card .mark-card-inner-title span {
	text-transform: uppercase;
}
mark-card-inner-title,
html .mark-card-inner-content p {
	font-family: 'Inter', sans-serif;
}
html .mark-card-inner-graph {
	background: var(--background-front-color);

	margin-left: .5rem;

	border: 0;
}
html .mark-card-inner-graph .mark-card-inner-graph-descr {
	border-right: 4px solid #00000020;
}
html .mark-card-inner-graph .mark-card-inner-graph-descr p {
	font-family: 'Inter', sans-serif;
}
html .mark-card-inner-graph-image {
	padding: 0;
}
html .mark-card-inner-graph .mark-card-inner-graph-image .tiny-graph {
	border-bottom: 4px solid #00000020;
}
html .mark-card-inner-graph-image path[fill="#ACACAC"] {
	fill: var(--background-middle-color);
}
html .mark-card-inner-graph .mark-card-inner-graph-image path[fill="#009AE3"] {
	fill: var(--theme-color);
}
html .mark-card-inner-graph .mark-card-inner-graph-image .btn-test-report {
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Inter', sans-serif;
	width: calc(100% - 10px);
}
html .mark-card-inner-graph .mark-card-inner-graph-image .btn-test-report::before {
	filter: invert() brightness(var(--theme-accent-icon-brightness));
}
html .modal-mark-card .mark-card-inner {
	background: var(--background-front-color);
	color: var(--paragraph-color);
	border-radius: var(--corner-roundness);
	box-shadow: 0 4px 10px -3px var(--shadow-color);
	border: 0;
}
html .modal-mark-card .date {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Legend */
html .terms-and-abbreviations-modal {
	left: 15%;
	width: 70%;
}
html .terms-and-abbreviations-modal .modal-dialog .modal-content .modal-body {
	padding-top: 0 !important;
}
html .terms-and-abbreviations-modal .modal-body .modal-close {
	top: 0;
}
html .modal-technical .legend-dialog .legend-category {
	border: 0;
	background: none;
	font-family: "Inter", sans-serif;
}
html .modal-technical .legend-dialog .legend-category .legend-category-title {
	background: none;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
html .modal-technical .legend-dialog .legend-category .legend-attribute {
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

/* Timetable */
html .modal-technical .timetible-item .name { /* Did you mean... timetable..? */
	font-family: 'Inter', sans-serif;
	border-right: 3px solid #00000020;
}
html .modal-dialog.timetable-dialog.empty .modal-body {
	background: var(--background-middle-color);
	padding-top: 40px;
}
html .modal-dialog.timetable-dialog.empty .modal-body p,
html .modal-technical .timetible-item .name,
html .modal-technical .timetible-item .time {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}

/* Recipients modal */
html .Modal__Content .Modal__Header {
	background: var(--background-middle-color) !important;
	color: var(--paragraph-color);
	border: 0;
	border-radius: var(--corner-roundness) var(--corner-roundness) 0 0;
}
html .Modal__Header .Modal__Title {
	color: var(--paragraph-color);
}
html .Modal__Content .Modal__Body {
	background: var(--background-middle-color) !important;
	color: var(--paragraph-color);
	border-radius: 0 0 var(--corner-roundness) var(--corner-roundness);
}
html .RecipientsModal__GroupContainer {
	border-radius: 0 0 var(--corner-roundness) var(--corner-roundness);
}
html .RecipientsModal__Title {
	font-size: 24px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	color: var(--title-color);
}
html .RecipientsModal__GroupContainer .RecipientGroup {
	border: 0;
	border-radius: var(--corner-roundness);
	background: var(--background-middle-dark-color);
	transition: .2s filter;
	font-size: 15px;
	font-family: "Inter", sans-serif;
	color: var(--paragraph-color);
}
html .RecipientsModal__GroupContainer .RecipientGroup:hover {
	filter: brightness(0.9);
}
html .RecipientsModal__GroupContainer .RecipientGroup__Button {
	background-color: transparent;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	filter: invert() brightness(var(--icon-brightness));
}
html #RecipientsModal .RecipientHeader {
	background: var(--background-middle-color);
}
html .RecipientHeader {
	transition: .2s opacity;
}
html .RecipientHeader:hover {
	opacity: 0.7;
}
html .RecipientHeader .RecipientHeader__ButtonBack::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	filter: invert() brightness(var(--icon-brightness));
}
html .RecipientHeader .RecipientHeader__GroupName {
	font-weight: 500;
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	color: var(--paragraph-color);
}
html .RecipientsModal__StudyYear,
html .RecipientsModal__StudyYear--selected {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: var(--paragraph-color);
	border-bottom: 0;
	transition: .2s opacity;
	font-size: 15px;
}
html .RecipientsModal__StudyYear--selected {
	color: var(--theme-color);
}
html .RecipientsModal__StudyYear:hover {
	opacity: 0.7;
}
html .Modal__Body .RecipientSearch,
html .Modal__Body .RecipientSearch:focus {
	border-radius: var(--corner-roundness);
	font-size: 15px;
	padding: 10px;
	height: 35px;
	border: 0;
	background: var(--background-front-color);
	color: var(--paragraph-color);
	font-family: 'Inter', sans-serif;
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
}
html .RecipientList .Recipient {
	border-bottom: 4px solid #00000020;
	font-family: 'Inter', sans-serif;
	color: var(--paragraph-color);
	font-size: 15px;
	transition: .2s opacity;
}
html .RecipientList .Recipient:hover {
	opacity: 0.7;
}
html .RecipientsModal__List .RecipientsModal__Item {
	background: #00000000;
	padding-left: 1rem;
	font-size: 15px;
}
html .RecipientsModal__List .RecipientsModal__Item:not(:last-child) {
	border-bottom: 4px solid #00000020;
}
html .RecipientsModal__List .RecipientsModal__Item::before {
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: .5rem;
	filter: invert() brightness(var(--icon-brightness));
}
html .RecipientsModal__AddedRecipientsCount {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 15px;
	border: 0;
	padding: 5px;
	margin-left: 5px;
	vertical-align: top;
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
}