/*
	General
*/
html .modal,
html .Modal.modal-evaluation-file,
html .home-task-answer-modal-container .Modal,
html .Modal#RecipientsModal .Modal__Content,
html .Recipients .Modal {
	position: fixed;
	top: 15%;
	left: 25%;
	display: none;
	width: 50%;
	height: 70%;
	background: none;
	border-radius: var(--corner-radius);
	box-shadow: 2px 7px 14px -3px var(--shadow-color);
	background: var(--opaque-background-middle-color);
	backdrop-filter: var(--opaque-background-filter);
	opacity: 0;
	transform: scale(0.75);
	z-index: 1041;
	transition: .2s transform, .2s opacity;
}
html .modal-dialog,
html .modal-dialog.timetable-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
}
html .modal-content {
	height: 100%;
	background: none;
}
html .modal-body {
	background: none;
	box-shadow: none;
}
html .modal-backdrop {
	display: none !important;
}
html .modal-background {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	background: #00000080;
	backdrop-filter: var(--opaque-background-filter);
	opacity: 0;
	transition: .2s opacity;
}
html .modal-technical .modal-close {
	background: var(--paragraph-color);
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	mask-size: cover;
	-webkit-mask-size: cover;
	transition: .2s opacity;
}
html .modal-technical .modal-close:hover {
	opacity: 0.7;
}
html .modal-technical h1 {
	color: var(--title-color);
	font-family: var(--font);
	font-weight: bold;
	font-size: 32px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .modal h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .modal p {
	font-size: 15px;
	line-height: 20px;
	user-select: none;
	-webkit-user-drag: none;
}
html .modal-backdrop.fade,
html .modal-dialog,
html .modal.fade,
html .modal.in {
	transition: .2s transform, .2s opacity !important;
}
html .modal.in .modal-dialog {
	transform: none;
}
html .modal-button {
	display: block;
	padding: 16px;
	border: 0;
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-size: 15px;
	font-weight: 500;
	border-radius: var(--corner-radius);
	margin: auto;
	margin-top: 15px;
	padding: 8px;
	width: 100px;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .modal-button:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .Modal__Header {
	border-bottom: 0;
}
html .Modal__Header .Modal__Close,
html .Modal__Header .modal-close-button {
	float: right;
	opacity: 1;
}
html .Modal__Header .Modal__Close .ButtonIcon--exit::before,
html .Modal__Header .modal-close-button .ButtonIcon--exit::before {
	content: "";
	background: var(--paragraph-color);
	display: block;
	width: 20px;
	height: 20px;
	opacity: 1;
	mask-size: contain;
	-webkit-mask-size: contain;
	transition: .2s opacity;
}
html .Modal__Header .Modal__Close .ButtonIcon--exit:hover::before,
html .Modal__Header .modal-close-button .ButtonIcon--exit:hover::before {
	opacity: 0.7;
}
html body.state-md .Modal {
	background: #00000080;
}
html body.state-md .Modal.modal-evaluation-file,
html .home-task-answer-modal-container .Modal {
	background: none;
	top: calc(100vh / 2 - 100px);
	height: 200px;
}
html .Modal .Modal__Dialog {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
}
html .Modal.Modal.modal-evaluation-file .Modal__Dialog,
html .home-task-answer-modal-container .Modal .Modal__Dialog {
	width: 100% !important;
	height: 100%;
	margin: 0;
	box-shadow: none;
}
html .SpinnerSection .Spinner {
	border-width: 5px;
	border-color: var(--paragraph-color);
	border-right-color: #00000000;
}
@media only screen and (max-width: 767px) {
	html .modal {
		left: 5%;
		width: 90%;
	}
	html .modal-dialog .modal-content {
		background: none;
	}
}


/*
	Greeting modal
*/
html .greetings-modal h1 {
	margin: 0;
}
html .greetings-modal h3 {
	font-family: var(--font);
	font-size: 24px;
	color: var(--title-color);
	text-align: left;
	margin-top: 0;
}
html .greetings-modal p {
	color: var(--paragraph-color);
	font-family: var(--font);
	font-size: 15px;
	line-height: 18px;
}
html .greetings-modal b {
	color: var(--paragraph-color);
	font-family: var(--font);
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	display: block;
	width: 100%;
	user-select: none;
	-webkit-user-drag: none;
}
html .greetings-modal ul {
	color: var(--paragraph-color);
	list-style-type: disc;
	margin-left: 15px;
}
html .greetings-modal ul li {
	font-size: 15px;
	line-height: 18px;
	list-style-type: disc;
	user-select: none;
	-webkit-user-drag: none;
}
html .greetings-modal .modal-button {
	width: 200px;
}


/*
	Mark card
*/
html .modal-mark-card .mark-card-inner-title {
	border-radius: var(--corner-radius) var(--corner-radius) 0 0;
	background: var(--background-front-color);
	border: 0;
	font-family: var(--font);
	font-weight: bold;
}
html .modal-mark-card .mark-card-inner-title span {
	text-transform: uppercase;
}
mark-card-inner-title,
html .mark-card-inner-content p {
	font-family: var(--font);
}
html .mark-card-inner-graph {
	background: var(--background-front-color);

	margin-left: .5rem;

	border: 0;
}
html .mark-card-inner-graph .mark-card-inner-graph-descr {
	border-right: 4px solid var(--opaque-divider-color);
}
html .mark-card-inner-graph .mark-card-inner-graph-descr p {
	font-family: var(--font);
}
html .mark-card-inner-graph-image {
	padding: 0;
}
html .mark-card-inner-graph .mark-card-inner-graph-image .tiny-graph {
	border-bottom: 4px solid var(--opaque-divider-color);
}
html .mark-card-inner-graph-image path[fill="#ACACAC"] {
	fill: var(--background-middle-color);
}
html .mark-card-inner-graph .mark-card-inner-graph-image path[fill="#009AE3"] {
	fill: var(--theme-color);
}
html .mark-card-inner-graph .mark-card-inner-graph-image .btn-test-report {
	margin-left: 5px;
	margin-right: 5px;
	font-family: var(--font);
	width: calc(100% - 10px);
}
html .modal-mark-card .mark-card-inner {
	background: var(--background-front-color);
	color: var(--paragraph-color);
	border-radius: var(--corner-radius);
	box-shadow: 0 4px 10px -3px var(--shadow-color);
	border: 0;
}
html .modal-mark-card .date {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}


/*
	Legend
*/
html .terms-and-abbreviations-modal {
	left: 15%;
	width: 70%;
}
html .terms-and-abbreviations-modal .modal-dialog .modal-content .modal-body {
	padding-top: 0 !important;
}
html .terms-and-abbreviations-modal .modal-body .modal-close {
	top: 0;
}
html .modal-technical .legend-dialog .legend-category {
	border: 0;
	background: none;
	font-family: var(--font);
}
html .modal-technical .legend-dialog .legend-category .legend-category-title {
	background: none;
	font-family: var(--font);
	font-weight: bold;
	text-transform: uppercase;
}
html .modal-technical .legend-dialog .legend-category .legend-attribute {
	font-family: var(--font);
	font-weight: bold;
}


/*
	Timetable
*/
html .modal-technical .timetible-item .name { /* Did they mean... timetable..? */
	font-family: var(--font);
	border-right: 3px solid var(--opaque-divider-color);
}
html .modal-dialog.timetable-dialog.empty .modal-body {
	background: var(--background-middle-color);
	padding-top: 40px;
}
html .modal-dialog.timetable-dialog.empty .modal-body p,
html .modal-technical .timetible-item .name,
html .modal-technical .timetible-item .time {
	font-family: var(--font);
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}


/*
	Recipients modal
*/
html .Modal#RecipientsModal {
	left: 25%;
	top: 12.5%;
	width: 50%;
	height: 75%;
	background: none;
}
html .Modal#RecipientsModal .Modal__Content {
	margin: 0 !important;
}
html .Modal#RecipientsModal .Modal__Content .Modal__Header {
	background: none !important;
	color: var(--paragraph-color);
	border: 0;
}
html .Modal#RecipientsModal .Modal__Content .Modal__Header .Modal__Title {
	color: var(--paragraph-color);
}
html .Modal#RecipientsModal .Modal__Content .Modal__Body {
	background: none !important;
	color: var(--paragraph-color);
	height: calc(100% - 101px) !important;
	max-height: unset !important;
	overflow: hidden;
}
html .RecipientsModal__GroupContainer {
	background: none;
	height: 100% !important;
}
html .RecipientsModal__Title {
	font-size: 24px;
	font-family: var(--font);
	font-weight: bold;
	color: var(--title-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .RecipientsModal__GroupContainer .RecipientGroup {
	border: 0;
	border-radius: var(--corner-radius);
	background: var(--background-middle-dark-color);
	transition: .2s filter;
	font-size: 15px;
	font-family: var(--font);
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .RecipientsModal__GroupContainer .RecipientGroup:hover {
	filter: brightness(0.9);
}
html .RecipientsModal__GroupContainer .RecipientGroup__Button {
	background: var(--paragraph-color);
	width: 20px;
	height: 20px;
	margin-right: 10px;
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .Modal#RecipientsModal .RecipientHeader {
	background: none;
	display: inline-block;
	transition: .2s opacity;
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal#RecipientsModal .RecipientHeader:hover {
	opacity: 0.7;
}
html .RecipientHeader .RecipientHeader__ButtonBack::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-top: 1px;
	margin-right: 5px;
	background: var(--paragraph-color);
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .Modal#RecipientsModal .RecipientHeader .RecipientHeader__GroupName {
	font-weight: 500;
	font-size: 15px;
	font-family: var(--font);
	color: var(--paragraph-color);
}
html .RecipientsModal__StudyYearList {
	padding-left: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .RecipientsModal__StudyYear,
html .RecipientsModal__StudyYear--selected {
	font-family: var(--font);
	font-weight: 500;
	color: var(--paragraph-color);
	background: var(--background-middle-color);
	padding: 10px;
	border-bottom: 0;
	border-radius: var(--corner-radius);
	transition: .2s filter;
	font-size: 15px;
}
html .RecipientsModal__StudyYear:hover {
	filter: brightness(0.9);
}
html .RecipientsModal__StudyYear--selected {
	background: var(--background-front-color);
}
html .Modal#RecipientsModal .Modal__Body .RecipientSearch,
html .Modal#RecipientsModal .Modal__Body .RecipientSearch:focus {
	border-radius: var(--corner-radius);
	font-size: 15px;
	padding: 10px;
	width: calc(100% - 40px);
	height: 35px;
	border: 0;
	background: var(--background-front-color);
	color: var(--paragraph-color);
	font-family: var(--font);
	margin-top: 0;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s box-shadow;
}
html .Modal#RecipientsModal .Modal__Body .RecipientSearch:focus { 
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
}
html .RecipientList .Recipient {
	border-bottom: 4px solid var(--opaque-divider-color);
	font-family: var(--font);
	color: var(--paragraph-color);
	font-size: 15px;
	user-select: none;
	-webkit-user-drag: none;
}
html .RecipientList .Recipient .Recipient__Name {
	transition: .2s opacity;
}
html .RecipientList .Recipient:hover .Recipient__Name {
	opacity: 0.7;
}
html .RecipientsModal__List .RecipientsModal__Item {
	background: #00000000;
	padding-left: 1rem;
	font-size: 15px;
}
html .RecipientsModal__List .RecipientsModal__Item:not(:last-child) {
	border-bottom: 4px solid var(--opaque-divider-color);
}
html .RecipientsModal__List .RecipientsModal__Item::before {
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: .5rem;
}
html .RecipientsModal__AddedRecipientsCount {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: var(--theme-color);
	color: var(--theme-accent-color);
	font-family: var(--font);
	font-weight: 500;
	font-size: 15px;
	border: 0;
	padding: 5px;
	margin-left: 5px;
	vertical-align: top;
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	user-select: none;
	-webkit-user-drag: none;
}


/*
	Recipients modal
*/
html .Recipients .Modal__Content .Modal__Header {
	background: none !important;
	border-bottom: 0;
}


/*
	Link inserting modal
*/
html .EklaseTextEditor__Editor .Modal__Header {
	padding-top: 10px;
}
html .EklaseTextEditor__Editor .Modal__Header .Modal__Title h5 {
	font-family: var(--font);
	font-size: 24px;
	font-weight: bold;
	color: var(--title-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .EklaseTextEditor__Editor .Modal__Header .Modal__Close {
	transition: .2s opacity;
}
html .EklaseTextEditor__Editor .Modal__Header .Modal__Close:hover {
	opacity: 0.7;
}
html .EklaseTextEditor__Editor .Modal__Header .Modal__Close::before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background: var(--paragraph-color);
	mask-size: contain;
	-webkit-mask-size: contain;
}
html .EklaseTextEditor__Editor .Modal__Content .Modal__Body {
	border-radius: 0;
}
html .EklaseTextEditor__Editor .Modal__Content .Modal__Body span {
	color: var(--low-priority-color);
	font-size: 15px;
	font-weight: 500;
	margin-right: 5px;
}
html .EklaseTextEditor__Editor .Modal__Content .Modal__Body span::after {
	content: ":";
}
html .EklaseTextEditor__Editor .Modal__Content .Modal__Body input {
	border: 0;
	border-radius: var(--corner-radius);
	background: var(--background-front-color);
	color: var(--paragraph-color);
	padding: 4px;
	margin-bottom: 8px;
	font-size: 15px;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
}
html .EklaseTextEditor__Editor .Modal__Content .Modal__Footer {
	background: var(--background-middle-color) !important;
	border-radius: 0 0 var(--corner-radius) var(--corner-radius);
}
html .EklaseTextEditor__Editor .Modal__Content .Modal__Footer .ButtonDefault {
	background: var(--background-front-color);
}


/*
	Grade overview
*/
html .Modal.Modal.modal-evaluation-file .Modal__Dialog .Modal__Content {
	height: auto;
	margin-top: 0 !important;
	background: var(--opaque-background-middle-color);
	border-radius: var(--corner-radius);
	backdrop-filter: var(--opaque-background-filter);
}
html .Modal.modal-evaluation-file .Modal__Dialog .loading {
	background: var(--background-middle-color);
}
html .Modal.modal-evaluation-file .evaluation-card {
	padding: 20px;
	padding-top: 5px;
}
html .Modal.modal-evaluation-file .evaluation-card .html-editor-content {
	font-family: var(--font);
	font-size: 15px;
	color: var(--paragraph-color);
}
html .Modal.modal-evaluation-file .Modal__Header {
	padding-bottom: 0;
	background: none !important;
	border-bottom: 0;
}
html .Modal.modal-evaluation-file .Modal__Header .Title {
	font-size: 32px;
	font-family: var(--font);
	font-weight: bold;
	color: var(--title-color);
	margin-left: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal.modal-evaluation-file .Modal__Body {
	background: none !important;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk span.LessonType {
	display: block;
	font-family: var(--font);
	font-size: 18px;
	font-weight: 500;
	color: var(--paragraph-color);
	margin-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk span.LessonDate {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: var(--low-priority-color);
	text-align: left;
	margin-top: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk span.LessonDate .Space {
	padding: 0;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk span.LessonDate span:not(:first-child)::before {
	content: " • ";
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk:first-child {
	display: block;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk .Subject p {
	font-size: 15px;
	color: var(--paragraph-color);
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk span.Info {
	color: var(--theme-color);
	font-size: 15px;
	font-family: var(--font);
	transition: .2s opacity;
}
html .Modal.modal-evaluation-file .Modal__Body .Container .Section {
	background: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk {
	margin-top: 5px;
	border-bottom: 0;
	padding: 0;
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk .tiny-graph path[fill="#CFCFCF"] {
	fill: var(--analytics-generic-bar-color);
	border-radius: var(--corner-radius);
}
html .Modal.modal-evaluation-file .Modal__Body .Section .Section__Chunk .tiny-graph path[fill="#3A96F9"] {
	fill: var(--theme-color);
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .EvaluationStats {
	font-size: 15px;
	font-family: var(--font);
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .EvaluationTitle,
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .Evaluation .Evaluation__Value {
	font-size: 18px;
	font-family: var(--font);
	font-weight: 500;
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .EvaluationTitle::after {
	content: ":";
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .Author {
	color: var(--paragraph-color);
	font-size: 15px;
	font-family: var(--font);
	text-align: left;
	margin-top: 2px;
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .Author span:first-child {
	font-weight: 500;
	color: var(--low-priority-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .EmptyGraph {
	border-radius: var(--corner-radius);
	background: none;
}
html .Modal.modal-evaluation-file .Modal__Body .Section__Chunk .Info:hover {
	opacity: 0.7;
}
html .Modal__Body .Section .Section__Chunk .TestReportButton {
	background: var(--theme-color);
	color: var(--theme-accent-color);
	border-radius: var(--corner-radius);
	font-family: var(--font);
	font-size: 15px;
	font-weight: 500;
	margin-top: 15px;
	padding: 5px;
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
	user-select: none;
	-webkit-user-drag: none;
}
html .Modal__Body .Section .Section__Chunk .TestReportButton:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}


/*
	Answer turn-in
*/
html body.state-md .home-task-answer-modal-container .Modal {
	top: 15%;
	left: 10%;
	width: 80%;
	height: 70%;
}
html .home-task-answer-modal-container .Modal .Modal__Content {
	margin-top: 0 !important;
	background: var(--opaque-background-middle-color);
	backdrop-filter: var(--opaque-background-filter);
}
html .home-task-answer-modal-container .Modal .Modal__Header {
	background: none !important;
	padding-bottom: 5px;
	border: 0;
}
html .home-task-answer-modal-container .Modal .Header__Title {
	font-size: 32px;
	font-family: var(--font);
	font-weight: bold;
	color: var(--title-color);
	margin-left: 0;
	user-select: none;
	-webkit-user-drag: none;
}
html .home-task-answer-modal-container .Modal .Header__Title::before {
	display: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body {
	background: none !important;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Body__Container {
	padding: 20px;
	padding-top: 0;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section,
html .home-task-answer-modal-container .Modal .Modal__Body .Section .Section__Header {
	background: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child {
	margin-bottom: 0;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Header {
	display: block;
	padding-left: 0;
	border-bottom: 0;
	margin-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Header span:first-child span {
	font-family: var(--font);
	font-size: 18px;
	font-weight: 500;
	color: var(--paragraph-color);
	padding: 0;
	margin: 0;
	border: 0;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Header span:first-child span:not(:first-child)::before {
	content: " • ";
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Header span.Section__Metadata {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: var(--low-priority-color);
	text-align: left;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Body {
	padding: 0;
	background: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Body .html-editor-content {
	color: var(--paragraph-color);
	font-size: 15px;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Body .html-editor-content * {
	font-family: var(--font);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Body .AttachmentList__ItemContainer {
	background: var(--background-front-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Body .AttachmentList__ItemContainer span::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	mask-size: cover;
	-webkit-mask-size: cover;
	background: var(--paragraph-color);
	margin-right: 5px;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:first-child .Section__Body .Section__CreationDate {
	display: block;
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	color: var(--low-priority-color);
	text-align: left;
	margin-top: 5px;
	user-select: none;
	-webkit-user-drag: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) {
	box-shadow: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Header {
	padding: 0;
	border: 0;
	background: none;
	user-select: none;
	-webkit-user-drag: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Header .Section__Text--spaced-large {
	font-family: var(--font);
	font-size: 18px;
	font-weight: 500;
	color: var(--paragraph-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Header .SendButton {
	display: block;
	height: auto !important;
	color: var(--theme-accent-color) !important;
	background: var(--theme-color);
	padding: 5px 15px;
	border: 0;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
}
html .home-task-answer-modal-container .btn__content {
	font-family: var(--font);
	font-size: 15px;
	font-weight: 500;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Header .SendButton::before {
	display: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Header .SendButton:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Header .btn--loading::after {
	border-top-color: var(--theme-accent-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body {
	background: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message {
	position: relative;
	border: 0;
	padding: 0;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message:not(:last-child)::after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: var(--solid-divider-color);
	border-radius: var(--corner-radius);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Info {
	font-size: 12px;
	color: var(--paragraph-color);
	user-select: none;
	-webkit-user-drag: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Info .bold,
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Info .Message__PersonType {
	font-family: var(--font);
	font-size: 12px;
	font-weight: 500;
	color: var(--low-priority-color);
	margin: 0;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Info .Message__PersonType::before {
	content: "(";
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Info .Message__PersonType::after {
	content: ")";
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew {
	margin: 0;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew .Attachment {
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	color: var(--paragraph-color);
	background: var(--background-front-color);
	padding: 3px;
	margin: 0;
	margin-right: 5px;
	border-radius: var(--corner-radius);
	box-shadow: 2px 3px 5px -3px var(--shadow-color);
	transition: .2s filter, .2s box-shadow;
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew .Attachment:hover {
	box-shadow: 2px 4px 7px -3px var(--shadow-color);
	filter: brightness(0.9);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew .Attachment a {
	padding-top: 2px;
	padding-bottom: 2px;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew .Attachment a:hover {
	color: var(--paragraph-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew .Attachment::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 3px;
	margin-right: 5px;
	mask-size: cover;
	-webkit-mask-size: cover;
	background: var(--paragraph-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .AttachmentListNew .Attachment::after {
	display: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Text {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 15px;
	color: var(--paragraph-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Message .Message__Text {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 15px;
	color: var(--paragraph-color);
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Attachments {
	border-bottom: 0;
	padding: 0;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Attachments .AttachmentList__ItemContainer {
	background: var(--background-middle-dark-color) !important;
	padding-right: 25px;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Attachments .AttachmentList__Item {
	color: var(--paragraph-color);
	font-size: 15px;
	font-weight: 500;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Attachments .AttachmentList__RemoveButton {
	right: 5px;
	top: calc(50% - 7.5px);
	width: 15px;
	height: 15px;
	mask-size: cover;
	-webkit-mask-size: cover;
	background: var(--paragraph-color);
	transition: .2s opacity;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Attachments .AttachmentList__RemoveButton:hover {
	opacity: 0.7;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .Attachments .AttachmentList__RemoveButton::before {
	display: none;
}
html .home-task-answer-modal-container .Modal .Modal__Body .Section:nth-child(2) .Section__Body .NewMessageContainer {
	margin-top: 5px;
}
html .home-task-answer-modal-container .EklaseTextEditor__Editor .EklaseTextEditor__Menu,
html .home-task-answer-modal-container .EklaseTextEditor__Editor .EklaseTextEditor__Content {
	background: var(--background-middle-dark-color);
}


/*
	Login help modal
*/
html .login-help-modal h1 {
	color: var(--title-color);
	font-size: 32px;
	user-select: none;
	-webkit-user-drag: none;
}
html .login-help-modal h3 {
	color: var(--title-color);
	font-size: 24px;
}
html .login-help-modal p {
	color: var(--paragraph-color);
	font-size: 15px;
}