body {
	background: #1a1a1d;
}
body,
section h2 {
	color: #dfdfdf;
}
.dashboard-widget,
.dashboard-widget-col.widget-banner .dashboard-widget,
.dashboard-information {
	background: #303035;
	color: #ffffff;

	border: 0;

	border-radius: 1rem;
}
.dashboard-widget-col.widget-notifications .widget-header,
.dashboard-widget-col.widget-banner .widget-header {
	background: none;

	min-height: 20px;
	line-height: 20px;

	padding: 16px;
	padding-left: 0;
}
.dashboard-widget .widget-header h3,
.dashboard-widget-col.widget-banner .widget-header {
	color: #ffffff;

	font-weight: bold;
	text-transform: uppercase;

	padding-left: 16px;
}
.dashboard-widget-col.widget-notifications .widget-content {
	background: none;

	height: 100%;
}
.dashboard-widget,
.dashboard-widget-col.widget-banner .dashboard-widget {
	box-shadow: 0 7px 14px -3px #00000099;
	
	cursor: auto;
}
.dashboard-widget-col.widget-notifications .widget-notifications-primary {
	color: #ffffff;

	border: 0;
}
.dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon {
	transition: .2s filter;
}
.dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon:hover,
.dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon:focus {
	color: #ffffff;

	filter: brightness(0.8);
}
.dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon.icon2,
.dashboard-widget-col.widget-notifications .widget-notifications-primary .notification-icon:hover.icon2 {
	background-image: url( data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuMzMgMEMuNjA4IDAgMCAuNiAwIDEuMzE2VjIwLjA3YzAgLjcxNi42MDcgMS4zMTYgMS4zMyAxLjMxNmgzMC4zNGMuNzIzIDAgMS4zMy0uNiAxLjMzLTEuMzE2VjEuMzE2QzMzIC42IDMyLjM5MyAwIDMxLjY3IDBIMS4zM3ptMjkuNzY3IDEuODgydi45MjNMMTYuNSAxMy4yNyAxLjgyNCAyLjY1bC4wNjMtLjc2OGgyOS4yMXpNMTUuOTM2IDE1LjE5NWEuOTYuOTYgMCAwMDEuMTI5IDBsMTQuMDMyLTEwLjE1djE0LjQ1OEgxLjkwM1Y1LjA0NGwxNC4wMzMgMTAuMTUxeiIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjZmZmZmZmIi8+PC9zdmc+);
}
.close-dashboard-adv-message {
	margin-top: .25rem;
    margin-right: .25rem;

	opacity: 1;

	transition: .2s filter;
}
.close-dashboard-adv-message:hover {
	filter: brightness(0.8);
}
.close-dashboard-adv-message::after,
.close-dashboard-adv-message::before {
	background: #ffffff;
}
.dashboard-widget-col.widget-notifications .widget-notification {
	background: none;
	color: #ffffff;

	border: 0;

	transition: .2s filter;
}
.dashboard-widget-col.widget-notifications .widget-notification:hover {
	background: none;
	
	filter: brightness(0.8);
}
#overlay, .loading-info {
	background: #1a1a1d;
}
.loading-info {
	color: #ffffff;

	box-shadow: 0 7px 14px -3px #00000099;

	border: 0;

	font-weight: bold;
}
.loading-spinner {
	border: 2px solid #ffffff;
	border-right-color: #00000000;
}
.students-journal-header {
	background: #1a1a1d;
}
.lessons-table {
	border: 0;

	border-radius: 1rem;

	box-shadow: 0 7px 14px -3px #00000099;
}
.student-journal-lessons-table-holder .lessons-table .head td, .student-journal-lessons-table-holder .lessons-table thead td {
	background: #303035;

	border: 0;
}
.student-journal-lessons-table-holder .lessons-table thead td {
	color: #ffffff;
	background: #303035;

	font-weight: bold;
	text-transform: uppercase;

	text-align: center;

	border: 0;
}
.student-journal-lessons-table-holder .lessons-table thead td.first-column {
	border-top-left-radius: 1rem;
}
.student-journal-lessons-table-holder .lessons-table thead td.score {
	border-top-right-radius: 1rem;
}
.no-data {
	border-radius: 0 0 1rem 1rem;
}
.no-data .inform {
	background: none;
}
.no-data .inform span {
	color: #ffffff;
}
.student-journal-lessons-table-holder .lessons-table tbody .first-column {
	background: #303035;

	border: 0;
	border-bottom: 4px solid #00000020;
	border-top: 4px solid #00000020;
}
.student-journal-lessons-table-holder .lessons-table tbody .title {
	color: #ffffff;

	font-weight: bold;
	font-size: 13px;
}
.student-journal-lessons-table-holder .lessons-table tbody .number {
	color: #acacac;

	font-weight: bold;
}
.student-journal-lessons-table-holder .lessons-table tbody .room {
	color: #acacac;
}
.student-journal-lessons-table-holder .lessons-table td {
	background: #303035;
	color: #ffffff;

	border: 0;
	border-bottom: 4px solid #00000020;
	border-top: 4px solid #00000020;
}
.student-journal-lessons-table-holder .lessons-table tr:last-child td {
	border: 0;
}
.student-journal-lessons-table-holder .lessons-table td:nth-child(odd) {
	background: #28282d;
}
.student-journal-lessons-table-holder .lessons-table tbody .number--lessonNotInDay {
	display: none;
}
.student-journal-lessons-table-holder .lessons-table tbody tr:last-child td:nth-child(1) {
	border-bottom-left-radius: 1rem;
}
.student-journal-lessons-table-holder .lessons-table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 1rem;
}
.lessons-table td:last-of-type span.score {
	border: 0;

	background: #46454e;

	box-shadow: 0 4px 10px -3px #00000099;

	border-radius: 10px;

	padding-left: 10px;
	padding-right: 10px;

	font-weight: bold;

	transition: .2s filter;
}
.lessons-table td:last-of-type span.score.warning {
	background: #eb4545;

	box-shadow: 0 4px 10px -3px #641212a6;
}
.lessons-table td:last-of-type span.score:hover {
	filter: brightness(0.8);
}
.ThirdPartyEvent--Active {
	background: #46454e;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;
}
.ThirdPartyEvent__Content {
	border: 0;
}
.ThirdPartyEvent__Info {
	border: 0;
}
.ThirdPartyEvent--e-klase-video .ThirdPartyEvent__Logo::before,
.ThirdPartyEvent__Text,
.ThirdPartyEvent__Time {
	color: #acacac;

	font-weight: bold;
	text-transform: uppercase;
}
.ThirdPartyEvent--Active .ThirdPartyEvent__Status {
	background: #35beff;

	transition: .2s filter;
}
.ThirdPartyEvent--Active .ThirdPartyEvent__Status::after {
	display: none !important;
}
.ThirdPartyEvent__Status:hover {
	background: #35beff !important;

	filter: brightness(0.8);
}
.Status__Text {
	font-weight: bold;
	text-transform: uppercase;

	color: #ffffff;
}
.ThirdPartyEvent--Deleted {
	background: #46454e;

	box-shadow: 0 4px 10px -3px #00000099;
}
.student-journal-lessons-table-holder h2 {
	text-transform: uppercase;
	font-weight: bold;

	margin-top: 15px;
	margin-bottom: 5px;
}
.modal-body {
	background: #28282d;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;
}
.modal-mark-card .mark-card-inner-title {
	border-radius: 1rem 1rem 0 0;

	background: #46454e;

	border: 0;
}
.modal-mark-card .mark-card-inner-title span {
	text-transform: uppercase;
}
.mark-card-inner-graph {
	background: #46454e;

	border: 0;
}
.mark-card-inner-graph-image {
	padding: 0;
}
.modal-mark-card .mark-card-inner {
	background: #46454e;
	color: #ffffff;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;

	border: 0;
}
.modal-mark-card .date {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.header-first {
	background: #303035;
}
.header-first .logo {
	filter: saturate(0) brightness(10);

	transition: .2s filter;
}
.header-first .logo:hover {
	filter: saturate(0) brightness(10) brightness(0.8);
}
.header-first-menu-item {
	cursor: pointer;
}
.header-first-menu-item a,
.header-first-menu-item.current-user .current-user-title {
	color: #ffffff;

	font-weight: bold;

	cursor: pointer !important;

	transition: .2s filter;
}
.header-first-menu-item.item-links > a:hover,
.header-first-menu-item.item-links:hover > a,
.header-first-menu-item > a:hover,
.header-first-menu-item:hover > a {
	color: #ffffff;
	
	cursor: pointer !important;

	filter: brightness(0.8);
}
.header-first-menu-item a:hover {
	color: #ffffff;
}
.header-first-menu-item.current-user .current-user-title {
	letter-spacing: 0;
	text-transform: capitalize;
}
.header-first-menu-item a::before,
.current-user-image {
	filter: saturate(0) brightness(200);
}
.header-second .header-second-inner {
	background: #303035;
	color: #ffffff;

	box-shadow: 0 4px 10px -3px #00000099;

	border-radius: 0 0 1rem 1rem;
}
.header-second .header-second-inner li a {
	position: relative;

	color: #ffffff;

	padding-bottom: 11px;
	
	border: 0;

	overflow: hidden;

	transition: .2s filter;
}
.header-second .header-second-menu-item > a:hover {
	color: #ffffff;

	filter: brightness(0.8);
}
.header-second .header-second-inner li a::before {
	filter: invert();
}
.header-second .header-second-inner li a::after {
	content: "";

	position: absolute;
	bottom: -8px;
	left: 0;

	display: block;
	width: 100%;
	height: 8px;

	background: #35beff;

	border-radius: 8px 8px 0 0;

	transition: .2s bottom;
}
.header-second .header-second-menu-item.active > a,
.header-second .header-second-menu-item > a:hover {
	padding-bottom: 11px;
	
	border: 0;
}
.header-second .header-second-menu-item.active > a::after,
.header-second .header-second-menu-item > a:hover::after {
	bottom: 0;

	filter: brightness(1);
}
.header-second .student-selector {
	background: none;

	border-radius: 1rem;

	border: 0;

	box-shadow: 0 4px 10px -3px #00000099;
}
.student-selector .select2-container--default .select2-selection--single .select2-selection__rendered {
	background: #46454e;

	transition: .2s filter;
}
.student-selector:hover .select2-container--default .select2-selection--single .select2-selection__rendered {
	filter: brightness(0.8);
}
.student-selector .select2-container--default .select2-selection--single {
	background: #303035;
}
.student-selector-option {
	color: #fff;
}
.student-selector-option .name {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.student-selector .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}
.header-first .header-first-submenu,
.header-second .header-second-submenu {
	background: #46454e;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;
}
.popover.bottom > .arrow::after {
	border-bottom-color: #46454e;
}
.header-first-submenu-item,
.header-second-submenu-item {
	border-bottom: 0;

	font-size: 0.8rem;

	background: #46454e;
	color: #ffffff;
	
	border-radius: 1rem;

	transition: .2s filter;
}
.header-first-submenu-item:hover,
.header-second-submenu-item:hover {
	background: #46454e;

	filter: brightness(0.8);
}
.header-first-menu-item.sm-icon-only a {
	font-size: 0.8rem !important;	
}
.header-second .header-second-menu-item:nth-child(3) .header-second-submenu {
	display: none !important;
}
.header-second .header-second-menu-item:nth-child(4) .header-second-submenu {
	display: none !important; /* TOGGLEABLE */
}
.header-second .header-second-submenu {
	top: 55px;
}

/* BUTTONS */
.big-anouncement .btn-secondary,
.btn-primary {
	background: #35beff;
	color: #ffffff;

	font-weight: bold;

	border-radius: .5rem;

	transition: .2s filter, .2s box-shadow;
}
.big-anouncement .btn-secondary:hover,
.btn-primary:hover {
	background: #35beff;

	box-shadow: 0 4px 10px -3px #00000099;
	
	filter: brightness(0.8);
}

/* ADS AND MONETIZATION */
.container-fluid div div div {
	box-shadow: 0 4px 10px -3px #00000099;
}
.container-fluid {
	display: none;
}
.dashboard .announcement {
	display: none;
}

/* FOOTER */
footer {
	background: #101011;
}
footer .copyright {
	color: #4e4c55;
}
.go-top::before {
	background-color: #00000000;
}
/* HOME PAGE */
.main-header {
	background: #303035;
}
.secondary-header {
	background: #303035;
	color: #ffffff;

	border-top: 4px solid #00000020;

	border-radius: 0 0 1rem 1rem;

	box-shadow: 0 4px 10px -3px #00000099;
}
.main-menu-item {
	color: #ffffff;

	cursor: pointer;

	transition: .2s all;
}
.main-menu-item:hover {
	color: #acacac;
}
.toggle-search {
	color: #ffffff;

	font-weight: bold;
	text-transform: uppercase;
}
.article-item {
	background: #303035;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;

	padding-top: 5px;

	transition: .2s background;
}
.article-item:hover {
	background: #28282d;
}
.primary-article .article-item .image {
	border-radius: 1rem 1rem 0 0;
}
.article-item .image {
	border-radius: 1rem 0 0 1rem;
}
.article-item h3 {
	color: #ffffff;

	margin-bottom: 0;
	margin-left: -20px;
}
.primary-article .article-item h3 {
	padding-left: 10px;

	margin-left: 0;
	margin-right: 10px;
}
.article-item .article-metas {
	bottom: auto;

	color: #acacac;

	margin-left: -20px;
}
.article-item .article-metas .tags-container {
	margin-top: 2px;
	margin-bottom: 2px;
}
.primary-article .article-metas {
	margin-left: 10px;
}
.primary-article .article-metas .tags-container {
	margin-top: 0;
}
.splitter {
	border-top: 4px solid #00000020;
}
.login-form {
	background: #303035;
	color: #ffffff;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;

	padding: 1rem;
}
.login-form-header h4 {
	height: auto;

	padding: 0;

	margin: 0;

	background: none;
	color: #ffffff;

	font-weight: bold;
	text-transform: uppercase;
}
.form-content .form-control {
	background: #46454e;
	color: #ffffff;

	border-radius: 21px;

	border: 0;
}
.login-form .btn-default {
	font-weight: bold;
	text-transform: uppercase;

	border-radius: 21px;

	transition: .2s all;
}
.login-form .btn-default:hover {
	box-shadow: 0 4px 10px -3px #00000099;

	filter: brightness(0.8);
}
.login-form .btn-default .progress {
	display: none;
}

/* LEGEND */
.modal-technical .legend-dialog .legend-category {
	border: 0;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;

	background: #303035;
}
.modal-technical .legend-dialog .legend-category .legend-category-title {
	background: none;

	font-weight: bold;
	text-transform: uppercase;
}

/* TIME TABLE */
.modal-technical .timetible-item .name {
	border-right: 3px solid #303035;
}

/* CALENDAR */
.students-journal-header .week-selector .calendar-holder {
	background: #303035;

	border: 0;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;
}
.calendar-holder .datepicker .dow {
	font-weight: bold;
}
.calendar-holder .datepicker .day {
	background: #46454e;
	color: #ffffff;
}
.datepicker tbody tr:nth-child(1) .day:nth-child(1) {
	border-top-left-radius: .5rem;
}
.datepicker tbody tr:nth-child(1) .day:last-child {
	border-top-right-radius: .5rem;
}
.datepicker tbody tr:last-child .day:nth-child(1) {
	border-bottom-left-radius: .5rem;
}
.datepicker tbody tr:last-child .day:last-child {
	border-bottom-right-radius: .5rem;
}
.calendar-holder .datepicker .active-week td:nth-child(-n+5),
.calendar-holder .datepicker tr:hover td:nth-child(-n+5),
.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
	background: #46454e;
}
.calendar-holder .datepicker .current-week td:nth-child(-n+5),
.calendar-holder .datepicker .current-week td:nth-child(-n+5):hover {
	background: linear-gradient(180deg, #46454e 34px, #009ae3 0);
}
.calendar-holder .datepicker .current-week table tr td.today:hover,
.calendar-holder .datepicker .current-week table tr td.today:hover:hover {
	background: #35beff !important;
	color: #ffffff;

	font-weight: bold;
}
.calendar-holder .datepicker td {
	transition: .2s filter;
}
.calendar-holder .datepicker td:hover {
	filter: brightness(0.8);
}

/* POPUP ANIMATIONS */
/* .students-journal-header .week-selector.calendar-open .calendar-holder {
	display: block;

	opacity: 1;

	transform: scale(1) translateY(0);
}
.popover {
	display: none;

	opacity: 0;

	transform: scale(0.75) translateY(-30px);

	transition: .2s all;
} */

/* MAIL */
.mailbox-tabs {
	display: none;
}
.mailbox-data {
	background: none;
}
.MailActions .ButtonDefault.MailActions__ToggleButton {
	background: #303035;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;

	border-radius: .5rem;
}
.MailSearch .MailSearch__Input {
	background: #303035;
	color: #ffffff;

	border: 0;
}
.MailSearch__ButtonWrapper .MailSearch__Button {
	background: #303035 url( data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PG1hc2sgaWQ9ImIiIGZpbGw9IiNmZmYiPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L21hc2s+PHBhdGggZD0iTTEuMzg0IDUuMzg0YzAtMi4yMDYgMS44Mi00IDQuMDU2LTQgMi4yMzcgMCA0LjA1NiAxLjc5NCA0LjA1NiA0cy0xLjgyIDQtNC4wNTYgNGMtMi4yMzcgMC00LjA1Ni0xLjc5NC00LjA1Ni00bTE0LjM4NSA5LjI4NEw5LjcyNSA4LjY5NWE1LjMyMSA1LjMyMSAwIDAwMS4xNTUtMy4zMUMxMC44OCAyLjQxNCA4LjQ0IDAgNS40NCAwIDIuNDQgMCAwIDIuNDE1IDAgNS4zODRjMCAyLjk3IDIuNDQgNS4zODUgNS40NCA1LjM4NWE1LjQ0OCA1LjQ0OCAwIDAwMy4xNTUtMS4wMDJsNi4wOCA2LjAwOGEuNzc2Ljc3NiAwIDAwMS4xLS4wMDYuNzc4Ljc3OCAwIDAwLS4wMDYtMS4xMDEiIG1hc2s9InVybCgjYikiIGZpbGw9IiNmZmZmZmYiLz48L2c+PC9zdmc+) no-repeat 10%;
	color: #ffffff;

	transition: .2s filter, .2s box-shadow;
}
.MailSearch__ButtonWrapper .MailSearch__Button:hover {
	background: #303035 url( data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PG1hc2sgaWQ9ImIiIGZpbGw9IiNmZmYiPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L21hc2s+PHBhdGggZD0iTTEuMzg0IDUuMzg0YzAtMi4yMDYgMS44Mi00IDQuMDU2LTQgMi4yMzcgMCA0LjA1NiAxLjc5NCA0LjA1NiA0cy0xLjgyIDQtNC4wNTYgNGMtMi4yMzcgMC00LjA1Ni0xLjc5NC00LjA1Ni00bTE0LjM4NSA5LjI4NEw5LjcyNSA4LjY5NWE1LjMyMSA1LjMyMSAwIDAwMS4xNTUtMy4zMUMxMC44OCAyLjQxNCA4LjQ0IDAgNS40NCAwIDIuNDQgMCAwIDIuNDE1IDAgNS4zODRjMCAyLjk3IDIuNDQgNS4zODUgNS40NCA1LjM4NWE1LjQ0OCA1LjQ0OCAwIDAwMy4xNTUtMS4wMDJsNi4wOCA2LjAwOGEuNzc2Ljc3NiAwIDAwMS4xLS4wMDYuNzc4Ljc3OCAwIDAwLS4wMDYtMS4xMDEiIG1hc2s9InVybCgjYikiIGZpbGw9IiNmZmZmZmYiLz48L2c+PC9zdmc+) no-repeat 10%;

	filter: brightness(0.8);

	box-shadow: 0 4px 10px -3px #00000099;
}
.MailMainAreaWrapper .FolderNavigation {
	background: #303035;

	border-radius: 1rem;

	box-shadow: 0 4px 10px -3px #00000099;
}
.FolderNavigation .FolderNavigation__Nav {
	box-shadow: none;
}
.FolderNavigation .FolderNavigation__ButtonNewMailWrapper {
	background: none;
}
.FolderNavigation__ButtonNewMailWrapper .FolderNavigation__ButtonNewMail {
	background: #35beff;
	color: #ffffff;

	border-radius: .5rem;

	transition: .2s filter, .2s box-shadow;
}
.FolderNavigation__ButtonNewMailWrapper .FolderNavigation__ButtonNewMail:hover {
	filter: brightness(0.8);

	box-shadow: 0 4px 10px -3px #00000099;
}
.FolderNavigation .FolderNavigation__NavItem {
	position: relative;

	background: none;
	color: #ffffffda;

	padding-left: 56px;

	border: 0;

	transition: .2s filter;
}
.FolderNavigation .FolderNavigation__NavItem--active {
	color: #ffffff;
}
.FolderNavigation .FolderNavigation__NavItem--active,
.FolderNavigation .FolderNavigation__NavItem:hover {
	background: none;

	box-shadow: none;
}
.FolderNavigation .FolderNavigation__NavItem:hover {
	filter: brightness(0.8);
}
.FolderNavigation .FolderNavigation__NavItem::after,
.FolderNavigation .FolderNavigation__NavItem--active::after {
	content: "";

	position: absolute;
	top: 0;
	left: -.75rem;

	display: block;
	width: .75rem;
	height: 100%;

	background: #35beff;

	padding: 0;

	margin-right: 1rem;

	border-radius: 0 .75rem .75rem 0;

	transition: .2s left;
}
.FolderNavigation .FolderNavigation__NavItem--active::after,
.FolderNavigation .FolderNavigation__NavItem:hover::after {
	left: 0;
}
.FolderNavigation .FolderNavigation__NavItem::before {
	color: #ffffff;

	opacity: 1;
}
.FolderNavigation .FolderNavigation__NavItem:first-child {
	border: 0;
}
.ButtonIcon--loading::before {
	border: 2px solid #ffffff;
	border-right-color: rgba(0,0,0,0);
}
.BottomInfo {
	color: #ffffff80;
}
.Folder__MessageList .MessageItem {
	background: #30303580;
	color: #ffffff;

	margin-left: .5rem;
	margin-bottom: .5rem;

	border: 0;

	border-radius: .5rem;

	transition: .2s filter, .2s box-shadow;
}
.Folder__MessageList .MessageItem:hover {
	background: #30303580;

	filter: brightness(0.8);

	box-shadow: 0 4px 10px -3px #00000099;
}
.Folder__MessageList .MessageItem:first-child {
	border: 0;
}
.MessageItem__LeftCol .MessageItem__Checkbox {
	background: #46454e;
}
.MessageItem__LeftCol .MessageItem__Checkbox:checked {
	background: #46454e;
}
.MessageItem__LeftCol .MessageItem__Checkbox:checked::after {
	filter: saturate(0) brightness(10);
}
.ViewMessage .ViewMessage__MetaInfo {
	border-top: 3px solid #303035;
	border-bottom: 3px solid #303035;
}
.MessageItem__RightCol .MessageFollowUpStatus--none::before,
.ViewMessage__MetaInfo .MessageFollowUpStatus--none::before {
	color: #46454e;
}
.ViewMessage__MetaInfo .ViewMessage__MessageDate {
	color: #ffffff80;
}
.AttachmentList__Item a:hover {
	color: #35beff;
}

/* LINKS */
.student-journal-lessons-table-holder .lessons-table a,
footer .footer-nav-item a,
.students-journal-header .students-journal-header-links a,
.AttachmentList__Item a {
	color: #35beff;

	position: relative;
}
.student-journal-lessons-table-holder .lessons-table a:hover,
footer .footer-nav-item a:hover,
.students-journal-header .students-journal-header-links a:hover,
.AttachmentList__Item a:hover {
	text-decoration: none;
}
.student-journal-lessons-table-holder .lessons-table a::after,
footer .footer-nav-item a::after,
.students-journal-header .students-journal-header-links a::after,
.AttachmentList__Item a::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;

	display: block;
	width: 0;
	height: 1px;

	background: #35beff;

	transition: .2s width;
}
.student-journal-lessons-table-holder .lessons-table a:hover::after,
footer .footer-nav-item a:hover:after,
.students-journal-header .students-journal-header-links a:hover::after,
.AttachmentList__Item a:hover::after {
	width: 100%;
}

/* ANALYTICS */
.pupilmarks-container .nav-tabs {
	display: none; /* TOGGLEABLE */
}
.analytics-report-container {
	background: none;
}
.analytics-pupilmarks-intro {
	border-radius: 1rem;

	box-shadow: 0 7px 14px -3px #00000099;
}
.analytics-pupilmarks-intro .analytics-ratings-table-intro-left,
.analytics-pupilmarks-intro .analytics-ratings-table-intro-right {
	background: #303035;

	border: 0;

	border-radius: 1rem 0 0 1rem;
}
.analytics-pupilmarks-intro .analytics-ratings-table-intro-right {
	border-radius: 0 1rem 1rem 0;
}
.analytics-ratings-table-intro-right .section-switch {
	display: none; /* TOGGLEABLE */
}
.print-table {
	background: #303035;

	border-radius: 1rem;

	box-shadow: 0 7px 14px -3px #00000099;
}
.print-table td,
.print-table th {
	background: none !important;

	border: 0;
}
.print-table th {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}